[2020-10-01 14:24] siv2r opened #1 "Add validation feature for the patient registration form"
Ex: like the name field should not be left empty by the user

![form-validation](https://user-images.githubusercontent.com/56887198/94822042-de990680-041f-11eb-9039-5f276eb1978a.png)

[2020-10-01 14:35] amitagarwalaa57 commented on #1
Assign me the task.

[2020-10-01 14:38] siv2r opened #2 "Store the data entered by the user in a database"
You can do the following two things:
1. Add a new process.php file which the form in register_patient.php can redirect to
2. Add the PHP code at the top of the register_patient.php file

[2020-10-01 14:54] siv2r commented on #1
Please use the jQuery validation plugin. Also, add the validation function in scripts/reg-form.js not in scripts/validate.js

[2020-10-01 17:05] cobasesp commented on #2
Hi! can you assign this to me?

[2020-10-01 17:25] siv2r commented on #2
@cobasesp I will update the details about the structure of the database (like no of tables etc) soon. Till then go through the register_patient.php file which stores user details in the database for the previous version of the registration form.

[2020-10-02 13:49] karmakula commented on #1
would love to give this a try, if you dont mind

[2020-10-02 14:41] siv2r commented on #1
Sure, go ahead!

[2020-10-03 11:03] siv2r commented on #1
This issue has been resolved

[2020-10-03 11:03] #1 closed

[2020-10-03 12:19] siv2r opened #5 "fix background of input fields after validation"
The following input fields' background color does not change when the entered value is invalid.
1. Comorbid conditions (in the patient registration form)
2. Pre-existing illness (in the donor registration form)
3. HLA Antigens: A, B, DR (in both patient and donor registration form)

**Examples:**

![Screenshot from 2020-10-03 17-24-28](https://user-images.githubusercontent.com/56887198/94991434-c1

[2020-10-03 12:24] siv2r opened #6 "Add background color for invalid radio labels"
Currently, there are no background colors for the radio button labels (i.e, positive, negative)

**Example:**
![Screenshot from 2020-10-03 17-24-28 (1)](https://user-images.githubusercontent.com/56887198/94998894-f664bc00-05d2-11eb-8785-1e8eef99a9b0.jpg)

**Instructions**
1. Do not create a new script file or CSS file
2. Add the screenshots of the form after the fix in your pull request
3. Add #ff

[2020-10-03 12:50] thalesagapito commented on #5
I could help out with this

[2020-10-03 13:38] siv2r commented on #5
Sure, go ahead! If you need anything let me know

[2020-10-03 13:52] paresh27 commented on #6
Can I help you with this?

[2020-10-03 14:43] thalesagapito commented on #5
The PR is open at #7, I also created a Dockerfile in the root of the project to run it without needing PHP installed. Would you be interested in adding it to the project?

[2020-10-03 15:16] #5 closed

[2020-10-03 17:10] slshashika commented on #6
I would like to fix these issue

[2020-10-03 18:51] siv2r opened #9 "Fix the startsCapital jQuery method"
**Instructions**
1. Do not create a new script file or CSS file
2. Add the screenshots of the form after the fix in your pull request

The code below is in **scripts/reg-form.js**. This is a custom jquery validation method that forces the user to start their name with a capital letter.

[code]
That method is called here (in **scripts/reg-form.js**)
[code]

The is no error message shown in the form

[2020-10-03 18:59] siv2r commented on #6
@paresh27  I have added some helpful information. Please let me know if you need anything else.

[2020-10-03 19:37] NileshChoudhary111 commented on #9
Hi Buddy,

Can you assign this to me?

[2020-10-03 19:44] Sourav59580 commented on #9
Hello sir,
I have solved this issue, please check my pull request.

[2020-10-03 20:00] Sourav59580 commented on #9
#10  the startsCapital jQuery method #10

[2020-10-04 05:04] #9 closed

[2020-10-04 06:15] paresh27 commented on #6
No that's enough, let me start it.

[2020-10-04 07:17] siv2r commented on #5
Yes, I am interested.

[2020-10-20 08:31] #2 closed

[2020-12-18 12:47] siv2r opened #22 "Make the nav bar interactive (Mobile friendly)"

[2020-12-18 12:48] siv2r opened #23 "Modularize the codebase"
This can be worked on once the issue #24 is resolved.

Soln idea:
- separate ccs code in PHP files to a new file.
- use a single validation js file instead of two js files performing the same validation (reg-form.js and editPairForm.js)
- maybe separate each form element??

Take look at the architecture branch for more info.

[2020-12-18 12:48] siv2r opened #24 "Create a better file architecture"

[2020-12-19 15:26] siv2r opened #25 "Change the url's path in the nav bar"
**Note:** The changes must be implemented in the `architecture` branch, not on the `master`

[ ] remove `subpagesNavBar.php` and maintain a single file for the navbar.

Note: use '/' at the start for the relative root path

[2020-12-20 08:05] siv2r opened #26 "Create an inline documentation (similar to JSDoc)"

[2020-12-27 11:49] siv2r opened #27 "JSON import and export"
- option to import data to the database through JSON data file
- option to provide a JSON dump of the data available in the database

[2021-01-05 11:12] siv2r opened #28 "Move session_start() to the top"

[2021-01-05 11:12] siv2r opened #29 "Make validation of address on forms loose"
**Changes Required**
- allow any character for addr line 1
- allow spaces for city

The validations applied during patient registration can be found [here](https://github.com/siv2r/kidney-exchange/blob/master/js/reg-form.js#L239-L283)
The validations applied during editing the patient data can be found [here](https://github.com/siv2r/kidney-exchange/blob/master/js/editPairForm.js#L243-L297)

[2021-01-05 11:46] siv2r commented on #27
The idea for import:
Try to parse the JSON data and assign its value to the $_POST array as done for the manual entry by the user. Then send the post request to insert it.

[2021-02-10 08:05] siv2r opened #32 "Display hospital name instead of hospital id in the patient data"

[2021-02-10 14:09] siv2r opened #33 "Width bug in Overview page"
Table contents are displayed in two lines if the ID is long :( on the dataOverview.php

[2021-02-10 14:32] siv2r opened #34 "signup not working as expected"
gives hospital is not registered with us error even though the enter hospital is registered :(
Try with hosp id = 10011

[2021-02-10 14:50] siv2r opened #35 "Max allowed packet bytes error"
Users can upload file size up to 2MB but the default SQL insertions for BLOB type is 1MB.
Therefore error occurs when the user uploads a filesize between 1 MB - 2 MB.

Possible soln:
Limit the file size to 1MB instead of 2MB in jQuery form validation.

[2021-02-10 18:44] 96RadhikaJadhav commented on #28
@siv2r  Can I work on it?

[2021-02-10 19:03] siv2r commented on #28
Sure, go ahead :+1:

The description is quite small. Do let me know if you need any additional info :)

[2021-02-11 02:11] 96RadhikaJadhav commented on #28
@siv2r I could see in below files session_start() is not located at top.

deleteData.inc.php
functions.inc.php
getHosp.inc.php
updatePair.inc.php
form-process.php

So in all these files should I move it to top?

[2021-02-11 05:06] siv2r commented on #28
I updated the description.

Moving `session_start` in functions.inc.php will break the code. Since, only `loginUser()` function needs it. For the rest of the files that you mentioned it will be fine.

[2021-02-11 05:09] siv2r commented on #28
It would be delightful if you could test whether your changes break the existing code or not.
If you cannot, no worries, I will test it before merging.

[2021-02-11 05:20] siv2r opened #36 "Setup automated test"
Maybe using GitHub actions?? (composer for php)

[2021-02-11 12:09] 96RadhikaJadhav commented on #35
@siv2r  Please correct me if I'm wrong.

Solution would be -> setting paramBytes = param*1024 instead of paramBytes = param*1024*1024 in editPairForm.js and reg-form.js files?

[2021-02-11 13:44] siv2r commented on #35
This is not a correct approach. This will limit the file size to 2 KB instead of 1 MB.

[2021-02-11 13:53] siv2r commented on #35
An ideal way would be to replace `2` with `1` in the following lines on both editPairForm.js and reg-form.js :)

https://github.com/siv2r/kidney-exchange/blob/master/scripts/editPairForm.js#L464-L488

[2021-02-11 13:59] 96RadhikaJadhav commented on #35
Okay will work on it. Thank you.

[2021-02-13 07:21] siv2r commented on #35
Reopening issue since the error message say 2 MB instead of 1 MB

[2021-02-17 16:22] #34 closed

[2021-02-19 21:20] schmelto opened #44 "Mobile view of website"
![Screenshot_20210219_221934_com.android.chrome~2.jpg](https://user-images.githubusercontent.com/30869493/108562786-b04d9200-7300-11eb-9a4e-7970f6a75447.jpg)

[2021-02-22 03:04] siv2r opened #45 "Deletion in the overview page not working properly"
I can see pd-pair details on the summary page, but those are not displayed on the overview page (where deletion of a pair is possible).

**Note:** If the user encounters #35 during insertion. Then patient files and donor files will not be inserted into the database whereas other details will be inserted. Maybe no insertion happens in the pd_pairs table during this error?? :thinking:

[2021-02-22 03:12] siv2r commented on #44
Hi @schmelto,

There is already an issue opened (#22 ) related to the mobile-friendly nature of the navbar. Wouldn't this come under the same category?

Thanks for adding the screenshot :)

[2021-02-22 07:11] schmelto commented on #44
Hey @siv2r yeah same category. Sorry didn't go through all issues :)

[2021-02-22 07:11] #44 closed

[2021-02-24 12:45] siv2r opened #49 "use black formatter for python code"
- setup git pre-commit hook
- also add this as automatic testing before emerging (on Github)

[2021-02-24 15:54] siv2r opened #51 "Find better approach for calculation global match"
**How is the global match calculated? (current scenario)**
- `graph.json` (using information stored in the database) file is created in the server
- `pipeline.py` is called using file
- The above step stores its output in a `result` folder in the server
- Finally, the output.png is displayed from the created `result` folder

This approach seems good, right? :thinking:

**Problem**
If two people tr

[2021-02-25 10:00] siv2r opened #52 "`maximize total weight` optimality criteria not working"
**Steps to replicate this issue**
- command used `python3 pipeline.py -f ./cmpGraph1.json -s 3 -o 4`

**Error Message**
[code]

[2021-03-01 17:40] #52 closed

[2021-03-08 12:27] nilisha-jais commented on #32
I want to work on it

[2021-03-08 13:06] siv2r commented on #32
@nilisha-jais #43 might resolve this issue, and @Hjaelp might be working on it. Please wait for some time.

[2021-03-08 15:43] sahilempire commented on #25
I want to work on this issue, Please **assign me**.

Thank you.

[2021-03-08 15:58] siv2r opened #55 "Github Action to format .py files with `black`"

[2021-03-08 16:13] siv2r commented on #25
@sahilempire Sure!! Go ahead 👍

[2021-03-08 16:58] simarjeet30 commented on #32
I am a participant of GSSOC'21. I would like to change ID with hospital name  in C++/python/C.

[2021-03-08 17:39] siv2r commented on #32
@simarjeet30, Can you open a new issue mentioning how you would like to implement this? (also reference this issue number in it)

[2021-03-08 19:04] RituCs commented on #6
Hello , I would like to contribute on this issue.Please assign me .

[2021-03-09 01:41] simarjeet30 commented on #32
Do u mean that i have to create a new issue of the existing issue and then
can i start working on it or i need to wait for it to be assigned to me ?

On Mon 8 Mar, 2021, 11:09 PM Sivaram D, <notifications@github.com> wrote:

[2021-03-09 03:16] sahildotexe commented on #25
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 03:18] sahildotexe commented on #6
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 03:19] sahildotexe commented on #33
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 05:18] saumyaparikh commented on #22
Can we use Bootstrap?

[2021-03-09 05:36] siv2r commented on #22
If you already have some idea about implementation (using bootstrap), you can open a new issue referencing this in it :)

The CSS for this is almost completed. There is some issue with the dropdown menu's alignment, so a fix for this is highly preferred.

[2021-03-09 05:37] siv2r commented on #22
Do let me know if you need any additional info.

[2021-03-09 05:43] siv2r commented on #33
You can start working on this issue :)

[2021-03-09 05:56] saumyaparikh commented on #22
ok, I will first try in CSS if it does not work then I will work on bootstrap.

[2021-03-09 05:57] siv2r commented on #32
Create a new issue with a heading something like `Implement hospital name instead of hospital id in C++/python/C`. Aso, add the necessary detail so that we can know what you are working on.

You can start working on it. No need to wait for it to be assigned :)

[2021-03-09 07:38] subhangi2731 commented on #55
can you please assign this issue to me?

[2021-03-09 07:40] subhangi2731 commented on #24
can you please assign this to me?

[2021-03-09 07:40] subhangi2731 commented on #49
can you please assign this to me?

[2021-03-09 07:40] subhangi2731 commented on #36
can you please assign me this?

[2021-03-09 09:06] SurbhiRathi23 commented on #6
Hi, I want to work on this issue. Can you please assign this issue to me?

[2021-03-09 15:44] siv2r commented on #6
@RituCs Sure! Go ahead!

[2021-03-10 02:52] Spurthi7768 commented on #29
@siv2r Can you assign this issue to me? I am a participant at GSSOC and I want to contribute in solving this issue.

[2021-03-10 04:43] siv2r commented on #29
@Spurthi7768 Sure, go ahead! I have also added some additional info in the description :)

[2021-03-10 05:25] Spurthi7768 commented on #29
@siv2r  Thanks! But I am unable to fork the repo can you suggest something?

[2021-03-10 13:06] siv2r commented on #36
@subhangi2731 I updated the [guideline](https://github.com/siv2r/kidney-exchange/blob/master/CONTRIBUTING.md) recently please go through it before starting to contribute :)

[2021-03-10 13:39] Abhi-1313 commented on #35
@siv2r sir please assign me this under GSSOC 21, my discord id is abhishekRanjan(p)#8804

[2021-03-10 14:09] siv2r commented on #35
@Abhi-1313 Please read the contributor's guidelines before contributing to this project.

[2021-03-11 04:15] simarjeet30 commented on #32
Hey @siv2r  , I have a doubt , i have to just change hospital id to hospital name in c/c++/python .i went to pages then data overview ,but there the code is written in another language ,how to do my work over there in c/c++/python.

[2021-03-11 07:38] khareyash05 opened #58 "add guidelines.md"
Hi! I would like to add contributing.md to the repo which states on how to clone and fork the repo,how to add ,create and push a repo,squash commits,rebase your feature branch ,how to update forked repo as well as local repo to the changes made in upstream.
I would like to work on this under GSSOC'21.

[2021-03-11 08:09] siv2r commented on #58
That's great to hear!
There is already a file named `CONTRIBUTING.md` in the repo. You can either add this as a subtopic like "How to create a pull request?" in `CONTRIBUTING.md` or create a new file with an appropriate name and link this in the `README.md`.

[2021-03-11 08:11] khareyash05 commented on #58
@siv2r sure

[2021-03-11 08:14] siv2r commented on #32
It is written in PHP so, the changes are also preferred to be done in PHP. You can take a look at #43 to get some idea.
I have no idea about the implementation of it in python/c++ since most of the code is already in PHP.

[2021-03-11 08:16] simarjeet30 commented on #32
ok

On Thu, Mar 11, 2021 at 1:45 PM Sivaram D ***@***.***> wrote:

[2021-03-11 08:17] siv2r commented on #55
@subhangi2731 Sure! You can start working on it. Also, read the contributors guidelines before starting to contribute :)

[2021-03-11 09:08] simarjeet30 opened #60 "Implement hospital name instead of hospital id"

[2021-03-11 12:03] Spurthi7768 commented on #29
@siv2r I have created a pull request for this issue. Can you please go through it and let me know any further changes are required it or not? Also, can I know what is your name on discord of GSSOC?

[2021-03-11 12:21] Spurthi7768 opened #63 "Improving the home page"
The home page is just a simple image. I would like to improve it by  adding something about the inspiration behind the project or something more about the project's usage etc. Can I work on it as a part of GSSoC?

[2021-03-11 13:39] siv2r commented on #58
@khareyash05 can you create a new file instead of adding it as a subsection in `CONTRIBUTING.md`?

[2021-03-11 13:45] siv2r commented on #63
Sure! Just make sure that it is relevant :)

[2021-03-11 13:46] siv2r commented on #60
@simarjeet30 There is already an issue related to this right?

[2021-03-11 13:50] simarjeet30 commented on #60
yes but one of the manager of this organisation asked me to make a new
issue of the same issue.

On Thu, Mar 11, 2021 at 7:16 PM Sivaram D ***@***.***> wrote:

[2021-03-11 13:52] siv2r commented on #60
Sure, no worries. I will close this since an issue related to this is already open.

[2021-03-11 13:52] #60 closed

[2021-03-11 13:59] khareyash05 commented on #58
Sure I will do that could you pls suggest me with a name of the file?
I have one name in my mind - guidelines?

[2021-03-12 05:08] #58 closed

[2021-03-12 14:03] rohank2502 opened #65 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 14:04] rohank2502 opened #66 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 14:24] siv2r commented on #65
@rohank2502 Sure! You can start working on it!! Also, read the guideline before starting to contribute :)

[2021-03-12 14:24] siv2r commented on #66
@rohank2502 Sure!! You can start working on it.

[2021-03-12 14:33] rohank2502 commented on #66
Thanks Please assign this issue !!

[2021-03-12 14:33] rohank2502 commented on #65
Yes sure I will read !!

[2021-03-12 14:40] siv2r commented on #66
I stopped assigning issues since everyone started spamming the issue page. More details are mentioned in the guidelines document which I asked you to read in #65 :)

[2021-03-12 15:06] rohank2502 commented on #66
Ok i will start work !!

On Fri, Mar 12, 2021 at 8:10 PM Sivaram D ***@***.***> wrote:

[2021-03-13 12:21] siv2r opened #69 "Reduce the age input in patient and donor form"
While filling the `patient` form under the `register` menu, the user can enter any date of birth for the patient and donor. For Example, he can `01/01/1920`, which is not recommended since having a donor of age `102` is impossible :sweat_smile:

**_Note_** Do not add an error msg for this. Just limit the input which the user can enter for the date of birth field.

**Changes required**
- Restrict t

[2021-03-13 12:22] siv2r opened #70 "Correct spelling mistake of "status" in patient and donor form"

[2021-03-13 12:23] siv2r opened #71 "make global match read from jsondump"

[2021-03-13 18:48] kanchi12P opened #72 "update readme"
I would like to add some graphics in the readme file to make it more attractive and graphics that convey the project moto
And will try to modify the font and colors
and add some small icons
please assign it to me.

[2021-03-13 19:06] siv2r commented on #72
@kanchi12P you can start working on it. Can elaborate abt the changes? Also, read the community guidelines before starting to contribute.

[2021-03-14 04:23] Spurthi7768 commented on #70
@siv2r Can I solve this issue as a part of GSSOC?

[2021-03-14 04:25] siv2r commented on #70
@Spurthi7768 sure!!

[2021-03-14 05:41] kanchi12P commented on #72
I will add some images which explain the kidney exchange program.

[2021-03-14 05:43] kanchi12P commented on #72
And will try to modify the font and colors
and add some small icons

[2021-03-14 05:43] kanchi12P commented on #72
Is the issue assigned?
Please tell

[2021-03-14 11:32] siv2r commented on #72
@kanchi12P Do not wait for an issue to be assigned to you. I stopped assigning issues since ppl started spamming.
This is clearly mentioned on the community guidelines, which is why I asked you to read it first :)

[2021-03-14 11:32] siv2r commented on #72
Please add these details to the description of this issue.

[2021-03-15 04:14] #70 closed

[2021-03-15 04:17] siv2r commented on #72
Closing this issue since the necessary PR was merged.

[2021-03-15 04:17] #72 closed

[2021-03-15 09:53] Spurthi7768 commented on #69
@siv2r  Can I work on this issue? Also if yes then can I create a new validation method for max age?

[2021-03-15 10:06] #66 closed

[2021-03-15 10:09] #65 closed

[2021-03-15 10:13] siv2r commented on #69
Sure!! Go ahead :+1:
It would be better to limit the user's input instead of creating an additional validation method.

[2021-03-15 13:41] Spurthi7768 commented on #69
@siv2r I had a doubt..so for limiting user input do we have to consider that the patient is of age 80 by 2021? What if someone wants to use the platform in 2030?

[2021-03-15 15:01] siv2r commented on #69
Good observation!! I did not think about this. Then you can allow users to enter the year (in the date of birth field) only after 1950.

[2021-03-15 18:00] amritakesh commented on #69
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 18:53] siv2r commented on #69
@amritakesh, I believe @Spurthi7768 is working on it. If @Spurthi7768 is willing, both of you can collaborate to solve this issue, or you can try taking a look at other issues.

Also, do not worry about gssoc points. I will make sure both of you get it if you plan to collaborate :)

[2021-03-16 14:01] #63 closed

[2021-03-17 03:51] araiz-1999 commented on #33
Intrested, can it be assigned to me ?

[2021-03-17 03:53] araiz-1999 commented on #29
Will like to work on this issue...

[2021-03-17 03:54] araiz-1999 commented on #26
Would like to work on it, is it available ?

[2021-03-17 04:48] araiz-1999 commented on #6
I would like to take a shot at this...

[2021-03-17 07:28] siv2r commented on #33
@araiz-1999 Sure!! you can start working on it :)

[2021-03-17 07:31] siv2r commented on #6
@araiz-1999 please work only on one issue at a time. You can move on to another if you have completed one :)

[2021-03-17 07:55] lakshita15 commented on #6
I'am gssoc participant
I would like to work on this issue. I will submit before due date with fantastic work.

[2021-03-17 07:55] lakshita15 commented on #22
I'am gssoc participant
I would like to work on this issue. I will submit before due date with fantastic work.

[2021-03-17 07:56] lakshita15 commented on #25
I'am gssoc participant
I would like to work on this issue. I will submit before due date with fantastic work.

[2021-03-17 08:35] siv2r commented on #22
@lakshita15 Sure!! You can start working on it :+1:
Please the community guidelines before contributing :)

[2021-03-17 08:39] siv2r commented on #25
@lakshita15, consider working on one issue at a time. You can always move on to another later :)

[2021-03-17 09:16] araiz-1999 commented on #33
Hey whats issue #33 ? Which has been assigned to me.

On Wed, 17 Mar 2021, 12:29 Sivaram D, ***@***.***> wrote:

[2021-03-18 15:58] siv2r opened #81 "Fix autoblack workflow"

[2021-03-19 04:00] nandini040 opened #83 "Pull request template and Code of conduct missing"

[2021-03-19 04:03] nandini040 opened #84 "Issue template missing"
Would like to work on this assign this to me.

[2021-03-19 04:19] siv2r commented on #84
Sure!! you can start working on it :)

[2021-03-19 04:20] siv2r commented on #83
I think a PR template will suffice. I have already added guidelines document

[2021-03-19 04:23] #81 closed

[2021-03-19 06:11] Subhangini commented on #83
I would like to work on this as a gssoc Participant

[2021-03-19 06:39] siv2r commented on #83
@Subhangini Sure!! you can start working on this :)

[2021-03-19 06:44] Subhangini commented on #83
Please add `level` and `gssoc` label

[2021-03-21 03:46] #83 closed

[2021-03-21 06:02] #84 closed

[2021-03-27 03:00] M2kishore commented on #26
This picture in README.md is not compatible with dark mode. The words need more vibrant colors like green, red, yellow, etc to make them visible in both modes.

![image](https://user-images.githubusercontent.com/60045529/112708106-000e1300-8ed6-11eb-82d2-34240588e327.png)

[2021-03-27 14:09] siv2r commented on #26
Sure!! Feel free to edit it and send a PR :)

[2021-03-28 09:42] pyash99 commented on #6
I am a GSSOC'21 participant can you assign me this issue.

[2021-03-28 12:38] siv2r commented on #6
@pyash99 you can start working on this issue no need to wait for the issue to be assigned to you. I stopped assigning issues since ppl started spamming.

[2021-03-28 17:35] aditi1403 opened #91 "Update README.md file"
I have made minor grammatical edits to the README.md file. Kindly refer to PR #90.

[2021-03-29 05:40] M2kishore commented on #26
May I know the software or link you used?
Sharing the .xml will be very helpful.

[2021-03-29 12:09] siv2r commented on #91
Merged the PR #90
@aditi1403 Thank you :)

[2021-03-29 12:09] #91 closed

[2021-03-29 12:11] siv2r commented on #26
@M2kishore The change was made by one of the contributors so, I am not sure about the details.
You can take a look at the commit 1d296ce to get more info.

[2021-04-02 16:17] siv2r opened #93 "Change permissions"
1. Allow writing permission for other users in the result folder (created by py)
2. Allow writing permission for other users in the graph.json (created by php)

[2021-04-03 18:03] Codehackerone commented on #27
I would like to work on this issue.

[2021-04-03 18:48] siv2r commented on #27
@Codehackerone Sure, go ahead!!

This is one of the tougher issues here which needs some discussion before implementation.  Feel free to reach out incase of doubts :)

[2021-04-05 07:17] hardikvarshney opened #94 "Missing! Brand logo of the website."

[2021-04-05 17:40] siv2r commented on #94
Currently there is no logo decided. If you have some ideas, you can open a PR :)

[2021-04-06 03:19] hardikvarshney commented on #94
Please mention the level of this issue. And assign this issue to me.

[2021-04-07 18:34] saimanoharhm opened #95 "Landing Page"
I would like to work on landing page with better design and responsive page.  Could you pls assign this to me.  @siv2r

[2021-04-07 19:07] siv2r commented on #95
Hi, what do u exactly mean by landing page? The homepage?

[2021-04-07 19:08] saimanoharhm commented on #95
@siv2r Yes

[2021-04-07 19:11] siv2r commented on #95
Sure, go ahead :)
You can take a look at this #73 for starters.

[2021-04-08 03:16] hardikvarshney opened #96 "Responsive Navbar"
Navbar we have in our website is not responsive. So, I want to make navbar responsive in out website.

[2021-04-08 03:16] hardikvarshney commented on #96
Please assign this issue to me.

[2021-04-08 04:40] hardikvarshney commented on #94
![logo1](https://user-images.githubusercontent.com/76947310/113969334-7144b300-9852-11eb-9889-80700f9f1013.png)
I have chosen this logo for our website. Can I go ahead with this logo.

[2021-04-08 11:35] siv2r commented on #96
Hey,
This issue is the same as #22. There is also some additional info there you can start there.

[2021-04-08 11:43] siv2r commented on #94
Hey, this looks good. Can you come up with something with a darker theme? (preferably red, black, blue also other colors if you think they look good)

I am asking for a darker theme since the look of the whole website is based on it. Also, no need for the name "Kidney Exchange" to be present. You can keep the logo **minimalist** and somewhat relevant.

[2021-04-08 11:45] siv2r commented on #94
Minimalist designs looks like [this](https://www.google.com/search?q=minimalist+wallpaper&tbm=isch&ved=2ahUKEwiAlICPye7vAhUXXX0KHQHgBpMQ2-cCegQIABAA&oq=minimalist+wal&gs_lcp=CgNpbWcQARgAMgQIIxAnMgUIABCxAzIFCAAQsQMyAggAMgIIADIFCAAQsQMyAggAMgIIADICCAAyAggAUKcIWJYUYMEaaABwAHgAgAFniAGVBpIBAzguMZgBAKABAaoBC2d3cy13aXotaW1nwAEB&sclient=img&ei=nOxuYIDWApe69QOBwJuYCQ&bih=715&biw=1386)

[2021-04-08 12:18] hardikvarshney commented on #94
Okay.

[2021-04-08 12:20] hardikvarshney commented on #96
Okay, you can close this issue.

[2021-04-08 12:38] #96 closed

[2021-04-08 13:24] hardikvarshney commented on #94
![logo3](https://user-images.githubusercontent.com/76947310/114033816-37e46580-989b-11eb-86dd-4ae513905bf2.png)
What about this????

[2021-04-08 13:56] siv2r commented on #94
Looks amazing! You can create a PR adding this to the readme.

[2021-04-08 16:37] hardikvarshney commented on #94
@siv2r I have to remove this logo from readme and add new one OR only add new logo??
![Screenshot (78)](https://user-images.githubusercontent.com/76947310/114063668-7cc9c580-98b6-11eb-964d-97778eb8e80c.png)

[2021-04-08 16:40] siv2r commented on #94
No, that is not the logo so, do not remove it. You can add your logo besides the heading "Kidney Exchange"

[2021-04-08 16:55] hardikvarshney commented on #94
Okay

[2021-04-09 04:28] arpit456jain opened #99 "[Gssoc'21] Show Password Button in Login/Signup"
I want to add a Show Password Button in Login/Signup

[2021-04-09 04:34] arpit456jain opened #100 "[Gssoc'21] back to top button"
I would like to add a back to top button with smooth scrolling

[2021-04-09 04:37] arpit456jain opened #101 "[Gssoc'21] Responsiveness of Login page"
The login page is not good for mobile view and its not responsive at all.
<img width="960" alt="po" src="https://user-images.githubusercontent.com/55352601/114128997-4eca9c80-991b-11eb-9eed-11d97e960e74.png">

I would like to make it responsive as much as possible.

[2021-04-09 04:40] siv2r commented on #100
Where would you like to add them? Please be specific.

[2021-04-09 04:40] siv2r commented on #99
Sure!! Go ahead :)

[2021-04-09 04:41] siv2r commented on #101
Every page is not responsive. You take a look at #22 for more info.

[2021-04-09 05:00] arpit456jain commented on #101
Yes @siv2r if you want i can try to make them all responsive as much as possible.

[2021-04-09 05:01] siv2r commented on #101
Sure!
How do you plan on doing? Using CSS?

[2021-04-09 05:01] arpit456jain commented on #100
On main page.

[2021-04-09 05:01] arpit456jain commented on #99
Ok

[2021-04-09 05:02] arpit456jain commented on #99
Kindly assign me this issue and add labels of GSSoC'21

[2021-04-09 05:04] arpit456jain commented on #101
2 ways
1 i can try to add some bootstrap classes
2 write css in media queries for small screen

I will try 1 option first if it not work then i will go for 2nd

[2021-04-09 05:10] siv2r commented on #100
There is no content on the main page so, this will not be useful

You can maybe try adding them on form pages

[2021-04-09 05:23] arpit456jain commented on #99
@siv2r kindly review my PR and add the same labels to it.

[2021-04-09 06:33] saimanoharhm commented on #95
![Copy of Health flyer - Made with PosterMyWall](https://user-images.githubusercontent.com/72253236/114138560-70cc1b00-992b-11eb-804e-a7189b73fba7.jpg)

@siv2r How's this background image. If it fine then I will proceed with the code.

[2021-04-09 06:56] siv2r commented on #95
Did you take a look at #73? This website has a dark theme so, a light theme is not preferred.

Also, if the wallpaper is minimalist it will be better. Google "minimalist wallpapers" to get idea about their design.

[2021-04-09 07:25] saimanoharhm commented on #95
@siv2r  I will create one dark mode button at right side corner.  When user clicks the  dark mode then the website change it into black color.  Will that be fine.

[2021-04-09 07:26] saimanoharhm commented on #95
@siv2r Yes I have seen that .

[2021-04-09 07:27] saimanoharhm commented on #95
@siv2r  I will use same design which I shared you above but it will change it dark mode if user needed by clicking the button.

[2021-04-09 07:30] siv2r commented on #95
This seems to a bit of overkill. Also, it will not be of much use since  it will change only the 'homepage' to darker theme.

A single minimalist background theme will suffice.

[2021-04-09 07:47] saimanoharhm commented on #95
![Copy of Covid-19 Vaccination Program - Made with PosterMyWall](https://user-images.githubusercontent.com/72253236/114146888-bc83c200-9935-11eb-907e-ef3d906eb4f0.jpg)

@siv2r How's this thing. If it not fine. Could you pls share some examples like what you are expecting

[2021-04-09 18:58] saimanoharhm commented on #95
@siv2r Could you pls whether should I proceed with it ot not

[2021-04-09 19:00] siv2r commented on #95
Hey, This seem to have lot of wording in the corner and stuff so, don't use this

[2021-04-09 19:01] siv2r commented on #95
Also, it is not necessary that it needs to be related to medical. It can be any simple theme. Like in the "minimalist background"

[2021-04-09 19:13] saimanoharhm commented on #95
![Copy of Smoke Youtube Channel Art Banner Template - Made with PosterMyWall](https://user-images.githubusercontent.com/72253236/114229541-9beb5480-9995-11eb-97d9-659c4f621fe8.jpg)

![Copy of R Black Sparkle - Made with PosterMyWall](https://user-images.githubusercontent.com/72253236/114229542-9d1c8180-9995-11eb-84ee-4409f93f3a6f.jpg)

Can I go with any of this @siv2r

[2021-04-09 20:33] siv2r commented on #95
Those does not look good :(

[2021-04-09 21:45] saimanoharhm commented on #95
@siv2r Ok. No problem.  I will work to make a page to responsive.

[2021-04-09 21:46] saimanoharhm commented on #95
@siv2r I will make a responsive page.  Will that be fine I don't change the image but I will make it as responsive page.

[2021-04-09 21:53] siv2r commented on #95
Sure, no worries :)
Also take your time tomdo things no need to hurry things up. It is important that you learn something new in this process.

[2021-04-10 11:10] hardikvarshney opened #104 "Footer Missing on Home Page"

[2021-04-10 11:13] hardikvarshney commented on #104
I will make responsive footer for the website.

[2021-04-10 14:02] #94 closed

[2021-04-10 14:14] siv2r commented on #104
Also, add some details to the description of this issue so, that I can know what you want to do exactly :)

[2021-04-10 14:16] siv2r opened #105 "Remove brand logo from README.md"
It seems unnecessary that there is a section in readme for the brand logo. It would be more appropriate if is just a smaller IMG beside the project title (in the readme) instead of in a separate subsection.

[2021-04-10 14:43] hardikvarshney commented on #104
It would be a simple footer with element such as "follow us" (on which github repository link will be there). "Brand logo" will be there(by clicking on it user will be redirected to home page) and lastly  "copyright information" will be their.
If you have any other idea you can give...

[2021-04-10 14:52] siv2r commented on #104
Sounds good!

[2021-04-10 15:06] hardikvarshney commented on #104
So, please assign this issue to me.

[2021-04-10 15:16] hardikvarshney commented on #104
Level of issue...????

[2021-04-10 15:27] siv2r commented on #104
I will assign it to the PR depending on its content. For now, just focus on implementing the changes. We can always assign/change labels as required.

[2021-04-10 15:34] hardikvarshney commented on #104
Okay.

[2021-04-10 16:21] Spurthi7768 commented on #105
@siv2r can you assign this issue to me? I can solve it as a part of gssoc.

[2021-04-10 16:23] siv2r commented on #105
You can start working on it :)

[2021-04-11 06:32] hardikvarshney commented on #104
This is the footer I have designed.
![Screenshot (81)](https://user-images.githubusercontent.com/76947310/114294640-a274eb80-9abd-11eb-8164-c8294f65d187.png)

[2021-04-11 08:22] #105 closed

[2021-04-12 03:15] hardikvarshney commented on #104
@siv2r please review it.

[2021-04-12 03:17] siv2r commented on #104
Hey, I will review it soon (today/tommorow). Thanks for the reminder.

[2021-04-12 04:13] hardikvarshney commented on #104
Okay

[2021-04-12 04:16] hardikvarshney commented on #104
@siv2r  One more thing I want to bring to your notice that "Prince-yohannan" has made a PR for the issue which was assigned to me(issue#104  : Footer Missing). Neither he opened the issue nor he was assigned. So, kindly ask him not to do so.

[2021-04-13 05:43] nityaak5 commented on #26
I would like to work on the issue. Is it still available?

[2021-04-13 07:08] siv2r commented on #26
@nityaak5 Sure! Go ahead :+1: I updated the description of this issue, which will give you a rough idea to start. You can also mention what you would like to work on.

Do let me know if you have any doubts or need any help :)

[2021-04-13 07:24] hardikvarshney commented on #104
@siv2r Kindly review it.

[2021-04-13 07:52] siv2r commented on #104
@hardikvarshney I think it will be better if the logo and copyright are side by side instead of vertical aligned.

Also, create a PR for this. It will be better to discuss the PR since I can see your code there.

[2021-04-13 17:33] hardikvarshney commented on #104
Okay, I will create PR for this.

[2021-04-14 08:54] arpit456jain commented on #100
@siv2r login and sign up page?

[2021-04-14 08:56] arpit456jain commented on #101
@siv2r kindly merge my pr for show password so i can start work on this issue as i am not very much comfortable in working on multiple branches

[2021-04-15 20:29] siv2r commented on #104
Hey, why was this issue closed?

[2021-04-16 11:19] siv2r commented on #100
@arpit456jain How will it be useful? They are small already right?

[2021-04-16 11:22] arpit456jain commented on #100
Yes that's why i put a question mark 😅

Actually you asked to put back to top button on form pages which i don't understand

[2021-04-16 11:24] siv2r commented on #101
You can work on different issues by creating a new branch for each one of them. I don't understand how the branch for show password issue affects this? since Ideally the show password branch will be deleted after merging.

[2021-04-16 11:26] arpit456jain commented on #101
Actually last time when I worked on multiple branches in a project some conflicts occur that's why i avoid to work on multiple branch.
I prefer to work on one branch at a time 😅

[2021-04-16 11:29] siv2r commented on #100
:+1: I don't think the back-to-top button will be super useful for this website. Other than the form pages all other pages fit in a single page perfectly.

There is very little documentation for this project which make it difficult for new contributors :(
You can try to read code and understand and you can always ask your doubts by opening an issue here on GitHub or on discord :)

[2021-04-16 11:31] arpit456jain commented on #100
So can i close this issue?

[2021-04-16 15:43] #100 closed

[2021-04-19 07:51] Kavs-123 commented on #69
Hey @siv2r!
Can I work on this issue?

[2021-04-19 09:34] siv2r commented on #69
@Kavs-123 There is already a PR for this #80
If you can come up with a better approach, you can start working on it :)

[2021-04-19 10:55] Kavs-123 commented on #69
Ohk @siv2r  :)

[2021-04-19 11:21] #99 closed

[2021-04-19 11:26] siv2r opened #109 "Adjust `show password` font size"
The `show password` option in the `login` and `signup` page has a different font style and size compared to the other elements on the page. It will great if it has the same style and size as others.

[2021-04-19 11:38] arpit456jain commented on #101
@siv2r i would like to work on this issue but the problem is phpfmt is still not working in my vs code

[2021-04-19 11:44] siv2r commented on #101
You can look into `phpfmt` after you finish the PR since it is used only for formatting. Then we can discuss an alternative to `phpfmt` if required :)

[2021-04-19 11:47] arpit456jain commented on #101
Ok

[2021-04-19 11:48] siv2r commented on #104
Reopening the issue since it was not resolved.

[2021-04-20 09:53] arpit456jain commented on #101
@siv2r can you provide me a db file for this project to i can import that file into my db so all the tables create automatically

bacuase I had made the login / sign up and home page responsive but the navbar is not working properly and its not responsive also and for that i have to login

[2021-04-21 15:23] nitinshukla413 commented on #109
I am a participant in GSSOC'21. I would like to work on this issue. Could you please assign it to me ?

[2021-04-21 18:35] siv2r commented on #109
@nitinshukla413 sure... go ahead :)

[2021-04-22 09:35] #109 closed

[2021-04-24 08:28] darpankhanna commented on #26
@siv2r I want to work on this issue

[2021-04-24 08:52] siv2r commented on #26
@darpankhanna I so nice to see contributors wanting to work on documentation issue :)

Please go ahead. Feel free to ask ANY doubts on the discord grp

[2021-04-25 07:42] siv2r opened #112 "Create a step by step docs for new contributors"
Many new contributors are unable to submit their first PR due to a lack of info. I want a document that a new contributor can follow exactly to submit his/her first PR.

I want this documentation to be of high quality so, do not take this issue for the sake of points in GSSoC.

**Information that needs to be present**
1. Introduction in the discord group
2. Find a new issue
3. Get help from the co

[2021-04-25 07:43] siv2r commented on #104
@hardikvarshney did u get a chance to create a PR for this issue?

[2021-04-25 07:44] siv2r commented on #95
Closing this issue since, it is not required

[2021-04-25 07:44] #95 closed

[2021-04-25 07:46] siv2r commented on #23
@subhangi2731 sorry for the late reply. Do let me know if you are still interested in working on this issue :)

[2021-04-25 07:48] siv2r commented on #25
Closing it since this is a duplicate of #24

[2021-04-25 07:48] #25 closed

[2021-04-25 07:48] hardikvarshney commented on #104
@siv2r Currently I am busy with  my mid semester exams. Soon I will be creating PR for this issue.

[2021-04-25 07:55] siv2r commented on #104
Sure, no worries. I just wanted to confirm it. Take your time to send the PR.
All the best for your exams!

[2021-04-25 13:25] priyanshuone6 commented on #26
Few things to change in the README
- Add `License` before the `Contributors`
- Add `Get in touch`, remove the slack group point from `Contributing Guidelines` and add it here (take hints from [here](https://github.com/pints-team/pints#get-in-touch))
- Put the logo before the Kidney Exchange Program
- Add few badges (be creative 😉)
- Move `CreatePr.md`, `CONTRIBUTING.md` in the docs folder and upda

[2021-04-25 17:27] siv2r commented on #23
Feel free to ask ANY doubts in the discord grp of this project

[2021-04-26 06:08] subhangi2731 commented on #23
Yes i am interested please assign me

[2021-04-26 06:09] subhangi2731 commented on #26
please assign me this

[2021-04-26 06:09] subhangi2731 commented on #24
Can you assign me this too

[2021-04-26 06:10] darpankhanna commented on #26
@subhangi2731 i am already assigned with this issue :)

[2021-04-26 06:50] siv2r commented on #26
@subhangi2731 sure go ahead!!
feel free to ask your doubts on the discord group :)
Also, @darpankhanna is working on creating an issue template so, you can try working on other things so your works does not clash

[2021-04-26 06:54] siv2r commented on #24
@priyanshuone6 this is the most difficult task and I am working on others features of this project which needs to be completed before this can be worked on.

I have assigned you the documentation issue which is the perfect place to start. After working on it you move on to the other issue :)

[2021-04-26 09:54] siv2r commented on #26
added these ideas to the description :)

[2021-04-28 16:48] #101 closed

[2021-04-28 16:51] arpit456jain opened #115 "Responsiveness of Register page"
I would like to make Register page Responsive

[2021-04-28 17:47] #115 closed

[2021-04-28 17:55] arpit456jain opened #117 "Responsiveness of home page"
I would like to make home page Responsive

[2021-04-29 16:14] siv2r opened #123 "Delete the `ISSUE_TEMPLATE.md` directory"

[2021-04-29 16:20] siv2r opened #124 "Replace the PR template with a new one"
[This](https://www.github.com/theos/theos/tree/master/.github%2FPULL_REQUEST_TEMPLATE.md) is the PR template of Theo's project. We can use the same since this project also uses theo's issue template.

Take ideas from [pybamm](https://github.com/pybamm-team/PyBaMM/blob/develop/.github/PULL_REQUEST_TEMPLATE.md), [oppia](https://github.com/oppia/oppia/blob/develop/.github/PULL_REQUEST_TEMPLATE.md).

[2021-04-29 16:40] priyanshuone6 commented on #124
Take ideas from [pybamm](https://github.com/pybamm-team/PyBaMM/blob/develop/.github/PULL_REQUEST_TEMPLATE.md), [oppia](https://github.com/oppia/oppia/blob/develop/.github/PULL_REQUEST_TEMPLATE.md).

[2021-04-29 16:49] siv2r commented on #124
@priyanshuone6 are you able to edit the description of this issue? If so, you can add it there

[2021-04-29 17:44] #117 closed

[2021-04-30 06:18] darpankhanna commented on #124
@siv2r can u assign me this issue?

[2021-04-30 09:29] arpit456jain opened #125 "Navbar is creating problem on every page"
What are the steps to reproduce this issue?

Navbar is not responsive at all

What were you expecting to happen?
It should be compatible ein small screens

Any other comments?
Well its not suitable to make it responsive instead of this i can replace it with bootstrap navbar . of course it needed  a lot of Css to make it like current navbar but at least it will be responsive and better .

Note : I

[2021-04-30 17:21] AshuKV commented on #123
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-01 14:13] siv2r commented on #125
Hey, see #22
This issue is the same as that. We can have the future discussions in that issue

[2021-05-01 14:14] siv2r commented on #125
closing this issue since this is a duplicate

[2021-05-01 14:14] #125 closed

[2021-05-01 14:16] siv2r commented on #26
@subhangi2731, are u working on this issue? If you need any help or have any doubts, you can ask in the discord groups.

[2021-05-01 14:37] arpit456jain commented on #22
@siv2r kindly assign me this issue

[2021-05-01 15:44] arpit456jain opened #128 "Project setup video in read me"
I would like to add a video for step by step process of project set up in read me

[2021-05-01 15:52] siv2r commented on #128
Sure, go ahead!

[2021-05-01 16:26] #128 closed

[2021-05-01 18:24] #123 closed

[2021-05-03 03:18] Sukriti-sood commented on #112
I would like to work on This

[2021-05-03 03:29] priyanshuone6 commented on #112
@Sukriti-sood Sure, go ahead!

[2021-05-03 07:59] siv2r commented on #112
@Sukriti-sood feel free ask for any help/doubts in our discord groups :)

[2021-05-05 00:06] siv2r opened #132 "Replace the link of slack group with the discord group link on the Readme"

[2021-05-05 04:55] Spurthi7768 commented on #132
@siv2r  Can you assign this issue to me ? Also the link of discord group?

[2021-05-05 04:58] priyanshuone6 commented on #132
@Spurthi7768 Sure, can you also submit a PR with the things mentioned in the 4th point [here](https://github.com/siv2r/kidney-exchange/issues/26#issue-771537125).

[2021-05-05 05:31] arpit456jain opened #133 "Adding bootstrap css and js link in some pages"
Adding bootstrap css and js link in some pages because they are not inhering the header.php and footer.php

that's navbar will not work in small screen

[2021-05-05 05:32] arpit456jain opened #134 "Enhancement in Login"
Due to new navbar there are some Enhancement required  in Login

[2021-05-05 05:32] arpit456jain opened #135 "Enhancement required in Sign Up"
Due to new navbar there are some Enhancement required  in Sign Up

[2021-05-07 04:11] SpecTEviL commented on #104
@siv2r If you don't mind can I work on this?

[2021-05-07 05:06] priyanshuone6 commented on #104
@hardikvarshney are you working on this?

[2021-05-07 05:09] SpecTEviL commented on #104
It's been more than 12 days and I think that's more than enough for this issue. If you don't mind can I take it up? I can finish it by tomorrow.

[2021-05-07 05:22] priyanshuone6 commented on #104
@SpecTEviL please wait for his reply by today, if he doesn't, this issue will be assigned to you

[2021-05-07 13:59] #132 closed

[2021-05-09 13:56] darpankhanna opened #140 "Enhancement of Feature Request Template"

[2021-05-09 13:57] darpankhanna commented on #140
@siv2r Can u assign me this issue?

[2021-05-09 13:58] siv2r commented on #140
@darpankhanna, can you mention the template that you are planning to use in the description?

[2021-05-09 14:02] priyanshuone6 commented on #104
@SpecTEviL go ahead

[2021-05-10 18:29] siv2r opened #141 "Develope the wiki section of this repo"

[2021-05-10 18:30] siv2r opened #142 "Welcome bot features"
welcome bot message:
1. mention guidelines
2. mention the creating your first PR doc (#112)

[2021-05-10 19:01] Sukriti-sood commented on #142
I want to work on this ,

[2021-05-10 19:09] siv2r commented on #142
Please consider working on one issue at a time. I will assign this issue to you later.
Also, don't worry about other contributors working; taking up this issue before you since you can always collaborate.

[2021-05-11 06:28] arpit456jain opened #145 "Enhancements in navbar"
Some Enhancements in navbar is required
issues
1. Dropdown shows white squares
2. navbar is thick
3. padding is required

[2021-05-12 03:21] subhangi2731 commented on #26
yes @siv2r I am working on this I have already worked I am sending a pr now

[2021-05-12 03:22] subhangi2731 commented on #26
please assign me the level tag in this issue @siv2r

[2021-05-12 04:33] priyanshuone6 commented on #26
@subhangi2731 I think that the level tag is only checked on the pull requests and not on issues

[2021-05-12 10:38] arpit456jain commented on #142
hey @siv2r currently i am free and wiling to work on this issue .

[2021-05-12 14:09] arpit456jain commented on #142
<img width="960" alt="github bot" src="https://user-images.githubusercontent.com/55352601/117988884-72896400-b359-11eb-9f14-301f857bcc38.png">

It will look some thing like this @siv2r  is it fine ??

[2021-05-12 17:39] siv2r commented on #142
Instead of the `To get assigned to this particular issue,` you can put `You can start working on the issue. Don't wait for it to be assigned.`

[2021-05-12 17:41] #135 closed

[2021-05-12 17:44] siv2r commented on #142
@Sukriti-sood @priyanshuone6 @riasenpai If you have any suggestions for the welcome message. Please pitch in.

[2021-05-12 17:51] priyanshuone6 commented on #142
Also add something like just drop a comment to let others know that you are working on this issue

[2021-05-12 17:55] arpit456jain commented on #142
If i change the msg to start working don't wait for assigning then it already means i am working on it 😅 isn't?

[2021-05-12 17:56] arpit456jain commented on #142
And for this we are assigned to work 🤔

[2021-05-12 18:05] priyanshuone6 commented on #142
I meant something like leaving a comment that says that I have started working on this, so that it won't create a conflict between two people trying to work on the same issue

[2021-05-12 18:09] arpit456jain commented on #142
Yeah got it i have a idea suitable for this but i am not sure it will work not.
Lets see ...
Will update you soon :)

[2021-05-12 19:18] siv2r commented on #26
yep, I will assign the level tags to your PR before merging them.

On Wed, 12 May 2021, 10:03 am Priyanshu Agarwal, ***@***.***>
wrote:

[2021-05-12 23:30] Sukriti-sood commented on #142
@siv2r @priyanshuone6 I was confused with all conversation , If you thnk I should not Created a PR , You can close it.

[2021-05-13 03:47] subhangi2731 commented on #27
@siv2r  @priyanshuone6 can I work on this? I see the pr has not been made since a long time

[2021-05-13 03:48] priyanshuone6 commented on #27
@subhangi2731 Sure go ahead

[2021-05-13 04:12] priyanshuone6 commented on #142
@arpit456jain @Sukriti-sood both are working on the same issue, I think @arpit456jain is already assigned to this

[2021-05-13 04:30] arpit456jain commented on #142
https://user-images.githubusercontent.com/55352601/118077268-693bde00-b3d1-11eb-9bdc-179d7d1458c7.mp4

@priyanshuone6 @siv2r how 's this . let me explain  what I did.
Firstly user will create a issue , I have used your issue template that's why its adding bug label .
Then bot will greet (Ignore the msg i will change it when creating  a PR)

Then Most important part any one can assign themselves by

[2021-05-13 04:38] arpit456jain commented on #142
Is it possible that first you merge @Sukriti-sood PR and then my PR too because i had no intentions of stoleing her points .
We can do one thing her msg is pretty good after merging her PR i will rebase my code and will add that auto assign feature

[2021-05-13 12:16] siv2r commented on #142
@Sukriti-sood, your bot looks really good in aesthetics, and @arpit456jain has a good message. A combination of both will be great!

[2021-05-13 12:16] siv2r commented on #142
@arpit456jain are you able to edit @Sukriti-sood PR? If so, I think both of you will co-author for the PR, and points will go to both.

[2021-05-13 12:31] arpit456jain commented on #142
I am not sure @siv2r . never done that before . Her bots really good I suggest to merge her PR then i will try to add my feature if it works well n good ,  i will create a PR otherwise no problem the main task is already competed  :)

[2021-05-13 12:32] arpit456jain commented on #142
More than 1 one PR can be merged for 1 issue no problem in that . But at least we have our separate PR's if in case any problem occurs you can easily revert the PR

[2021-05-13 12:44] #134 closed

[2021-05-13 12:50] siv2r opened #150 "test for welcome bot"

[2021-05-13 12:53] siv2r commented on #142
@Sukriti-sood, does the welcome bot responds to first-timers only? Since #150 does seem to get any message.

[2021-05-13 12:57] Sukriti-sood commented on #142
Ya , Welcome Bot means same for first time contributors ,If you want for Every Issue and PR Open and PR merge , I will do that.

[2021-05-13 12:57] Sukriti-sood commented on #142
Ya , Welcome Bot means same for first time contributors ,If you want for Every Issue and PR Open and PR merge , I will do that.

[2021-05-13 13:06] siv2r commented on #142
No need. I just wanted to confirm. It is unnecessary for every issue.

[2021-05-13 13:06] #150 closed

[2021-05-13 13:16] arpit456jain opened #151 "testing"
testing

[2021-05-13 13:19] #151 closed

[2021-05-13 13:29] arpit456jain opened #152 "testing the bot"
testing the bot

[2021-05-13 13:32] arpit456jain commented on #152
/assign

[2021-05-13 13:33] #152 closed

[2021-05-13 14:59] arpit456jain opened #154 "Testing"
Testing

[2021-05-13 14:59] arpit456jain commented on #154
/assign

[2021-05-13 14:59] arpit456jain commented on #154
@siv2r its working :)

[2021-05-13 15:05] arpit456jain commented on #154
It also send me a email that issue is assigned to me :)
 @siv2r i am unassigning myself for testing

[2021-05-13 15:05] arpit456jain commented on #154
/assign

[2021-05-13 15:30] siv2r commented on #154
closing since the test works fine.

[2021-05-13 15:30] #154 closed

[2021-05-13 17:24] arpit456jain commented on #142
Hey @siv2r please close this issue both PRs got merged :)

[2021-05-13 17:26] siv2r commented on #142
we can use this to track new features for welcomes bot.

[2021-05-13 17:38] arpit456jain commented on #145
/assign

[2021-05-13 17:47] arpit456jain commented on #33
/assign

[2021-05-13 17:48] arpit456jain commented on #33
I will give it a try may be i can solve this

[2021-05-13 17:52] arpit456jain commented on #104
Hey i am also interested in this issue

[2021-05-14 03:56] arpit456jain commented on #104
Hey @SpecTEviL if you are working on this try to make a responsive footer using bootstrap.
But please let me know whether you are working on it or not

[2021-05-14 05:00] arpit456jain commented on #33
<img width="960" alt="data" src="https://user-images.githubusercontent.com/55352601/118223678-70312200-b49f-11eb-852d-d5ba3bf5824a.png">

[2021-05-14 05:01] arpit456jain commented on #33
I have done some changes and here is the result if id is long than this then it will surely take 2 lines

[2021-05-14 05:16] arpit456jain commented on #33
![screencapture-localhost-kidney-exchange-pages-dataOverview-php-2021-05-14-10_45_58](https://user-images.githubusercontent.com/55352601/118224848-8e981d00-b4a1-11eb-8a52-0ee7eb01d303.png)

for phone view i have to hide last 3 columns its not possible to display 6 cols in small screens ..
hope you understand :)

[2021-05-14 05:21] arpit456jain commented on #33
@siv2r I am creating another issue for responsiveness  of this page will commit these changes in that PR

[2021-05-14 05:32] arpit456jain opened #155 "Responsiveness of Overview Page"
Responsiveness of Overview Page

[2021-05-14 05:33] arpit456jain commented on #155
/assign

[2021-05-14 13:00] #33 closed

[2021-05-14 13:28] arpit456jain commented on #155
![screencapture-localhost-kidney-exchange-pages-dataOverview-php-2021-05-14-18_58_30](https://user-images.githubusercontent.com/55352601/118277425-6848a080-b4e6-11eb-87a9-8d05992c56aa.png)
![screencapture-localhost-kidney-exchange-pages-dataOverview-php-2021-05-14-18_57_25](https://user-images.githubusercontent.com/55352601/118277441-6b439100-b4e6-11eb-8da5-fc0207bf8c4c.png)

[2021-05-14 13:30] arpit456jain commented on #155
@siv2r Please select one of these first one is having little bit small font user must have to zoom a litle bit
2nd one is optimized font size but it is taking 2 lines

[2021-05-14 15:08] siv2r commented on #155
@arpit456jain, the 2nd one is good. The bigger font with two lines.

[2021-05-14 15:10] arpit456jain commented on #155
Ok @siv2r will make a PR for this soon
Kindly add label of level my previous PR

[2021-05-14 15:25] siv2r opened #158 "Remove huge code comments"
- some of the commented code has a considerable size. It would be nice to remove it altogether.
For Example https://github.com/siv2r/kidney-exchange/blob/master/functions/json.func.php#L47-L91

Find similar ones like the example above and remove them.

[2021-05-14 15:31] siv2r opened #159 "Use GitHub Project Boards, to track features, instead of Readme"
Currently, the scoring functions used are tracked in a readme file. See here: https://github.com/siv2r/kidney-exchange/blob/master/functions/scoringFunctions.md.

It would great if we could do these using GitHub project boards.

[2021-05-14 15:33] siv2r commented on #155
I added it. The width bug PR right?

[2021-05-14 15:33] arpit456jain commented on #155
yes thanks :)

[2021-05-14 15:33] arpit456jain commented on #155
making a PR for this issue

[2021-05-14 15:39] arpit456jain commented on #155
@siv2r kindly review my PR

[2021-05-14 15:40] arpit456jain commented on #158
/assign

[2021-05-14 15:40] siv2r commented on #27
@subhangi2731 This is a problematic issue. You will be required to set up the database using method two mentioned in the readme file. I would advise you to work on this issue after getting comfortable with the project.

If you really want to work on this issue, then, by all means, go ahead! Do let me know if you have any doubts.

[2021-05-14 15:49] arpit456jain commented on #158
@siv2r from all files ??

[2021-05-14 16:06] arpit456jain commented on #23
hey @subhangi2731 just comment "/assign"  without these double quotes this issue will be assigned to you by the bot .
you can start start working on it  no need for waiting  :)

[2021-05-14 16:14] siv2r commented on #158
Yes. Only remove the comments that are large(say 7+ lines).

[2021-05-14 16:15] arpit456jain commented on #158
Please review my PR

[2021-05-14 16:28] Sukriti-sood opened #162 "Test"
What are the steps to reproduce this issue?
…
…
…
What happens?
…

What were you expecting to happen?
…

Any logs, error output, etc?
(If it’s long, please paste to https://ghostbin.com/ and insert the link here.)

Any other comments?
…

[2021-05-14 16:34] #162 closed

[2021-05-14 18:10] #112 closed

[2021-05-14 18:12] #155 closed

[2021-05-14 18:20] siv2r opened #164 "Create a document for setting up this project"
Currently, this project has information about the project set up embedded in its [readme](https://github.com/siv2r/kidney-exchange#setting-up-this-project).

It would be nice if there is a separate document for this, and we can include this under the [documentation subsection of the readme](https://github.com/siv2r/kidney-exchange#documentation).

This is essential documentation so, make sure your

[2021-05-14 21:54] invisible0511 opened #165 "test"
What are the steps to reproduce this issue?
…
…
…
What happens?
…

What were you expecting to happen?
…

Any logs, error output, etc?
(If it’s long, please paste to https://ghostbin.com/ and insert the link here.)

Any other comments?
…

[2021-05-15 03:43] arpit456jain opened #166 "Sweet Alert Before Logout"
Sweet Alert Before Logout like this
<img width="361" alt="alert" src="https://user-images.githubusercontent.com/55352601/118347041-bea4f600-b55d-11eb-8d6e-e54f9e695b6b.png">

[2021-05-15 03:43] arpit456jain commented on #166
/assign

[2021-05-15 03:48] arpit456jain commented on #166
It will look like this

https://user-images.githubusercontent.com/55352601/118347143-7cc87f80-b55e-11eb-82e2-a0ce37bc8400.mp4

[2021-05-15 04:11] arpit456jain opened #167 "Responsiveness of REGISTRATION FORM Page i.e (reg-form.php)"
Responsiveness of REGISTRATION FORM Page i.e (reg-form.php)

[2021-05-15 04:12] arpit456jain commented on #167
/assign

[2021-05-15 04:17] arpit456jain commented on #167
currently its like this in mobile view
![screencapture-localhost-kidney-exchange-pages-reg-form-php-2021-05-15-09_46_42](https://user-images.githubusercontent.com/55352601/118347648-7d631500-b562-11eb-9713-684cbd5a8c0a.png)

[2021-05-15 05:14] SpecTEviL commented on #104
Yes i'm working. I'll update you by tomorrow. And also i'll use bootstrap now.

[2021-05-15 05:26] subhangi2731 commented on #27
hey @siv2r I saw that. This is a huge issue still I will give my best and just give me some days time in this issue as it needs to cover the whole database connection and data import export i will let u know if I have any doubts

[2021-05-15 06:39] subhangi2731 commented on #164
@siv2r please let me work on this too

[2021-05-15 06:42] AshuKV commented on #164
Hi I am a GSSOC'21 participant. I want to work on this issue under GSSoC'21. Can you please assign it to me?

[2021-05-15 06:43] AshuKV commented on #159
Hi I am a GSSOC'21 participant. I want to work on this issue under GSSoC'21. Can you please assign it to me?

[2021-05-15 07:50] siv2r commented on #164
@AshuKV consider working on one issue at a time. I have assigned you

[2021-05-15 09:07] subhangi2731 commented on #164
/assign

[2021-05-15 15:33] arpit456jain opened #170 "Overview section on home page"
I would like to add a Overview section on home page with dummy text .

[2021-05-15 15:33] arpit456jain commented on #170
/assign

[2021-05-15 18:09] siv2r opened #171 "Sweet alert for `Delete`, `Status`, `Edit` in the dataoverview.php"
Use different custom messages for all three.

[2021-05-15 18:24] #167 closed

[2021-05-15 18:26] siv2r opened #172 "Proper alignment of input fields in reg-form.php"
Refer #168 for the screenshots of the current version

**Suggested Changes** (for the desktop view)
- In the HLA antigen field, It would be better if A is to the left of the input field instead of on the top
- all the input field be of the same length or at least start from the same margin (from the left)

[2021-05-16 02:56] Sukriti-sood opened #173 "test"
What are the steps to reproduce this issue?
…
…
…
What happens?
…

What were you expecting to happen?
…

Any logs, error output, etc?
(If it’s long, please paste to https://ghostbin.com/ and insert the link here.)

Any other comments?
…

[2021-05-16 03:00] #173 closed

[2021-05-16 05:42] arpit456jain commented on #172
/assign

[2021-05-16 05:50] arpit456jain commented on #171
hey @siv2r please elaborate a little bit

[2021-05-16 05:50] arpit456jain commented on #171
/assign

[2021-05-16 06:11] priyanshuone6 commented on #142
@arpit456jain Could you please remove the link embedded in the `has been assigned` comment when someone comments `\assign` as the link doesn't make any sense

[2021-05-16 06:33] arpit456jain commented on #142
@priyanshuone6 I don't think so because that code is just like a API it is fetching a pre written code .  I had not written that msg from myself 😅.

[2021-05-16 07:01] priyanshuone6 commented on #142
@arpit456jain I think there is an option to customize the message, please see
https://github.com/JasonEtco/slash-assign-action#assigned_comment

You have to add a `assigned_comment` property with the comment under the with

[2021-05-16 07:03] arpit456jain commented on #142
Ok i will try this for sure

[2021-05-16 07:03] arpit456jain commented on #142
/assign

[2021-05-16 07:13] arpit456jain commented on #104
@SpecTEviL any update ??
See actually i am working on responsiveness of the website that's why i need at least a basic layout of footer so that i can adjust it if its creating any mes because there are chances that the class you use in css for footer may be overwrite by internal css .
@priyanshuone6 @siv2r please look into this.

[2021-05-16 10:52] arpit456jain opened #176 "testing"
testing

[2021-05-16 10:53] arpit456jain commented on #176
/assign

[2021-05-16 10:53] #176 closed

[2021-05-16 13:29] arpit456jain commented on #104
/assign

[2021-05-16 15:29] siv2r commented on #124
Closing since #139 fixes this

[2021-05-16 15:29] #124 closed

[2021-05-16 17:08] #172 closed

[2021-05-16 17:43] #170 closed

[2021-05-16 17:57] #104 closed

[2021-05-17 15:47] arpit456jain opened #181 "Other navbar options are not working in dataoverview.php"
Other navbar options are not working in dataoverview.php

[2021-05-17 15:49] arpit456jain commented on #181
/assign

[2021-05-17 16:15] arpit456jain commented on #145
All these enhancements are done making the PR

[2021-05-18 11:46] arpit456jain opened #184 "Improving Responsiveness of register_hospital.php"
Improving Responsiveness of register_hospital.php
![screencapture-localhost-kidney-exchange-pages-register-hospital-php-2021-05-18-17_35_36](https://user-images.githubusercontent.com/55352601/118647860-7442a400-b7ff-11eb-8266-ebb3a7c20969.png)

[2021-05-18 11:46] arpit456jain commented on #184
/assign

[2021-05-18 13:42] AnjiAgrawal commented on #93
Can I work on this? As a participant of GSSOC21?

[2021-05-18 14:05] siv2r commented on #93
Sure, go ahead!!
Feel free to ask for help/doubts here or in the discord group.

[2021-05-18 14:26] siv2r opened #186 "Remove brand logo from everywhere"

[2021-05-18 14:29] #145 closed

[2021-05-18 15:22] #142 closed

[2021-05-19 02:49] arpit456jain commented on #186
/assign

[2021-05-19 03:09] arpit456jain opened #188 "footer in pairwisematch.php must be at bottom"
footer in pairwisematch.php must be  at bottom
<img width="960" alt="sss" src="https://user-images.githubusercontent.com/55352601/118750749-a72b7d00-b87d-11eb-96b2-730e5637a992.png">

[2021-05-19 03:17] arpit456jain opened #190 "footer in globalMatch.php must be at bottom"
footer in globalMatch.php must be at bottom
<img width="960" alt="gb" src="https://user-images.githubusercontent.com/55352601/118751388-d8f11380-b87e-11eb-9958-b6003073747a.png">

[2021-05-19 03:17] arpit456jain commented on #190
/assign

[2021-05-19 03:18] arpit456jain commented on #188
/assign

[2021-05-19 03:31] arpit456jain opened #192 "footer in dataSearch.php must be at bottom"
footer in dataSearch.php must be at bottom

[2021-05-19 03:31] arpit456jain commented on #192
/assign

[2021-05-19 10:05] arpit456jain opened #194 "Footer must be at bottom in displayGlobalMatch.php"
Footer must be at bottom in displayGlobalMatch.php
<img width="960" alt="issue" src="https://user-images.githubusercontent.com/55352601/118795049-d19a2c00-b8b7-11eb-9b98-f66693b44779.png">

[2021-05-19 10:18] arpit456jain commented on #194
/assign

[2021-05-19 10:19] arpit456jain commented on #186
that red logo ??

[2021-05-19 15:13] siv2r commented on #186
yes

On Wed, 19 May 2021, 3:49 pm 111arpit1, ***@***.***> wrote:

[2021-05-19 16:13] arpit456jain commented on #186
ok

[2021-05-22 13:16] darpankhanna opened #197 "Template for Feature Request"
Contributors who want to improve or give suggestions for the documentation of Readme can use this template.

[2021-05-22 13:17] darpankhanna commented on #197
@siv2r Can u assign me this issue?

[2021-05-22 15:42] subhangi2731 commented on #159
/assign

[2021-05-22 15:45] subhangi2731 commented on #159
@siv2r please assign this issue to me

[2021-05-22 15:49] subhangi2731 commented on #141
@siv2r please assign this issue to me

[2021-05-22 19:44] subhangi2731 commented on #141
/assign

[2021-05-23 07:37] #159 closed

[2021-05-23 07:46] #164 closed

[2021-05-27 02:46] siv2r commented on #197
@darpankhanna this seems to be a very specific problem so, the template for it will not be useful.
You could try changing this to a **Template for Feature Request**. This is kind of template will be useful

[2021-05-27 02:49] siv2r commented on #188
@arpit456jain so, is it required to adjust the footer for every single page?

[2021-05-27 02:52] #166 closed

[2021-05-27 02:59] #184 closed

[2021-05-27 03:03] #171 closed

[2021-05-27 03:11] siv2r commented on #141
I think you will need collaborator permission for this. Do let me know if you have any doubts.

[2021-05-27 04:37] arpit456jain commented on #188
@siv2r only on those pages on which the content is less .
Like when there is no content on home page the footer comes to close to navbar that's why I have to add some content.
So if the content on the Page after navbar is not covering whole page then i have to add some more margin and paddig so that footer can go to bottom

[2021-05-27 14:33] #181 closed

[2021-05-27 14:34] #188 closed

[2021-05-27 14:35] #190 closed

[2021-05-27 14:35] #192 closed

[2021-05-27 14:36] #194 closed

[2021-05-27 17:29] #186 closed

[2021-05-27 17:39] arpit456jain opened #202 "enhancements in footer"
enhancements in footer
1. github logo in centrer
2. dec the width

[2021-05-27 17:39] arpit456jain commented on #202
/assign

[2021-05-27 18:31] arpit456jain opened #204 "Responsiveness of pairwiseMatch.php"
Responsiveness of pairwiseMatch.php

[2021-05-27 18:32] arpit456jain commented on #204
/assign

[2021-05-27 18:41] arpit456jain opened #205 "Enhancement required in navbar"
Enhancement required in navbar

Due to removing of brand logo from navbar it looking little bit thin small screen
![screencapture-localhost-kidney-exchange-2021-05-28-00_10_49](https://user-images.githubusercontent.com/55352601/119879987-6bfa0f80-bf49-11eb-9363-57e223fe30b3.png)

[2021-05-27 18:41] arpit456jain commented on #205
/assign

[2021-05-28 08:41] #202 closed

[2021-05-28 08:42] #205 closed

[2021-05-28 13:29] arpit456jain opened #208 "responsiveness in global match.php"
responsiveness in global match.php

[2021-05-28 13:29] arpit456jain commented on #208
currently
![screencapture-localhost-kidney-exchange-pages-globalMatch-php-2021-05-28-18_58_51](https://user-images.githubusercontent.com/55352601/119991239-e036c080-bfe6-11eb-8315-12a2312bcbe1.png)

[2021-05-28 13:30] arpit456jain commented on #208
/assign

[2021-05-29 03:26] #208 closed

[2021-05-29 03:28] #204 closed

[2021-05-29 11:34] arpit456jain opened #210 "Responsiveness of data summary page"
Responsiveness of data summary page

[2021-05-29 11:34] arpit456jain commented on #210
/assign

[2021-05-29 12:13] #210 closed

[2021-05-29 17:38] arpit456jain opened #212 "fixed the responsiveness for edit pair page"
fixed the responsiveness for edit pair page

[2021-05-30 03:58] madihamallick commented on #93
@siv2r I would like to work on this  issue, Please assign this to me

[2021-05-30 04:09] arpit456jain opened #214 "name of user Instead of just logout"
name of user Instead of just logout

[2021-05-30 04:17] siv2r commented on #93
Sure go ahead!

[2021-05-30 04:30] #214 closed

[2021-05-30 04:32] #212 closed

[2021-05-30 09:29] arpit456jain opened #222 "Responsivesness of displayPairwiseMatch.php"
Responsivesness of displayPairwiseMatch.php

[2021-05-30 09:44] #222 closed

[2021-05-30 10:14] arpit456jain opened #224 "remove Footer completely"
remove Footer completely

[2021-05-30 10:15] arpit456jain opened #226 "remove overview section"
remove overview section

[2021-05-30 10:18] arpit456jain opened #228 "removing the red highlight when hovered over kidney-exchange"
removing the red highlight when hovered over kidney-exchange

[2021-05-30 10:27] arpit456jain opened #230 "navbar not working on pairData.php"
navbar not working on pair data.php

[2021-05-30 10:33] madihamallick commented on #197
@siv2r Please assign this to me

[2021-05-30 15:02] #228 closed

[2021-05-30 15:05] #224 closed

[2021-05-30 15:14] #226 closed

[2021-05-30 15:15] #230 closed

[2021-05-30 15:21] siv2r commented on #197
This issue has been resolved

[2021-05-30 15:21] #197 closed

[2021-05-30 16:43] arpit456jain opened #233 "there must be required in all inputs in sign up"
What are the steps to reproduce this issue?
…
…
…
What happens?
…

What were you expecting to happen?
…

Any logs, error output, etc?
(If it’s long, please paste to https://ghostbin.com/ and insert the link here.)

Any other comments?
…

[2021-05-30 16:43] arpit456jain commented on #233
/assign

[2021-05-30 16:44] arpit456jain opened #234 "there must be required in all input fields in login"
What are the steps to reproduce this issue?
…
…
…
What happens?
…

What were you expecting to happen?
…

Any logs, error output, etc?
(If it’s long, please paste to https://ghostbin.com/ and insert the link here.)

Any other comments?
…

[2021-05-31 02:12] siv2r opened #240 "Include new discord server link in readme"
### Can you please describe the problem to be solved?
New discord server link to be added in the readme file of the repo since, girlscript will delete their server after the program ends.

### Can you give some suggestions?

Just replace the previous discord server link in the readme with this: https://discord.gg/uH35zjW5cN

[2021-05-31 03:04] madihamallick commented on #240
@siv2r Please assign this to me

[2021-05-31 03:43] arpit456jain opened #241 "404 error handling"
404 error handling

[2021-05-31 04:30] arpit456jain opened #243 "back to to top button"
back to to top button

[2021-05-31 04:58] #243 closed

[2021-05-31 05:04] #241 closed

[2021-05-31 05:12] arpit456jain opened #245 "back to top in register_hospital.php"
back to top in register_hospital.php

[2021-05-31 07:15] arpit456jain opened #254 "back to top in edit pair form"
back to top in edit pair  form

[2021-05-31 07:38] arpit456jain opened #256 "required attribute in all fields of sign up"
required attribute in all fields of sign up

[2021-05-31 07:45] arpit456jain opened #258 "Removing un nesscary js"
What are the steps to reproduce this issue?
…
…
…
What happens?
…

What were you expecting to happen?
…

Any logs, error output, etc?
(If it’s long, please paste to https://ghostbin.com/ and insert the link here.)

Any other comments?
…

[2021-05-31 08:32] arpit456jain opened #259 "Errors in documentation"
grammatical error

[2021-05-31 08:33] arpit456jain commented on #259
@siv2r please don't close this issue . i will make some PRs under this issue

[2021-05-31 08:35] #258 closed

[2021-05-31 08:48] arpit456jain opened #263 "navbar is not working on message page after deletion on data overview page"
navbar is not working on message page after deletion on data overview page

[2021-05-31 08:57] arpit456jain opened #265 "back to top in dataSummary.php"
back to top in dataSummary.php

[2021-05-31 12:35] #259 closed

[2021-05-31 12:38] #263 closed

[2021-05-31 12:41] arpit456jain opened #268 "moved all css and js to seperate file"
moved all css and js to seperate file

[2021-05-31 13:09] #268 closed

[2021-06-01 07:48] #245 closed

[2021-06-01 07:48] #254 closed

[2021-06-01 07:58] #265 closed

[2021-06-02 11:07] tech-rounak commented on #240
hey sir can  I contribute

[2021-06-03 00:36] siv2r commented on #240
@tech-rounak this issue has been resolved already. You can take a look at other `good-first-issue` to get started :)

[2021-06-05 11:33] siv2r commented on #240
Closing the issue since, it has been resolved already

[2021-06-05 11:33] #240 closed

[2021-06-06 14:56] Sukriti-sood opened #278 "Login System Explaination"
To Ease the Login/Signup Process , there should be some information need to simplify the process

[2021-06-06 14:58] Sukriti-sood commented on #278
/assign

[2021-06-06 15:00] Sukriti-sood opened #279 "Tracking Registered Hospitals"
New Page for Tracking Registered Hospitals

[2021-06-06 15:00] Sukriti-sood commented on #279
/assign

[2021-06-06 16:44] Sukriti-sood opened #281 "Customize Home Page"
Change in HomePage UI

[2021-06-06 16:44] Sukriti-sood commented on #281
/assign

[2021-06-07 14:17] #256 closed

[2021-06-07 14:17] #233 closed

[2021-06-07 14:18] #234 closed

[2021-06-08 12:10] #69 closed

[2021-06-08 12:10] #23 closed

[2021-06-09 18:37] starrohan999 opened #283 "add little changes in project Overview context section add line height so that font looks nice."
### Can you please describe the problem to be solved?
add little changes in the project Overview context section add line height so that font looks nice. and easy to read

### Can you give some suggestions?
By adding a line height in CSS code we can make it pleasant.

[2021-06-09 18:38] starrohan999 commented on #283
Hii @siv2r
I am an LGM-S0C-21 participant please assign it to me.

[2021-06-09 21:18] Astitva7717 commented on #141
/assign

[2021-06-09 21:21] Astitva7717 commented on #26
Can I do this?

[2021-06-09 21:21] Astitva7717 commented on #26
/assign

[2021-06-10 03:32] PranavChauhan22 opened #284 "Adding contact page"
### Can you please describe the problem to be solved?
I want to add contact us page which is the necessary section as website is concerned about healthcare.

### Can you give some suggestions?
I will add a new contact page which will be dynamic and contains all info regarding mentors.

Please assign me this issue under lgm-soc participant

[2021-06-10 03:38] PranavChauhan22 commented on #284
/assign

[2021-06-10 05:51] Astitva7717 commented on #141
hey sir, can I do this under LGMSOC21 ?

[2021-06-10 06:45] Yash-Sakre opened #285 "Add greeting.yml file"
### Can you please describe the problem to be solved?
This Github action greets people who raised the issue. This flashes good reflection about the project.

### Can you give some suggestions?

Please assign this issue to me as an LGM-SOC participant.

[2021-06-10 06:46] #285 closed

[2021-06-10 07:18] riasenpai commented on #141
@Astitva7717 go ahead.

[2021-06-10 07:18] siv2r commented on #141
@Astitva7717 Sure! Go ahead. Also, you can use my name. No need to call me sir :)

[2021-06-10 07:31] priyaastha opened #286 "Make login and sign-up page completely responsive"
### Can you please describe the problem to be solved?

I want to make the login and signup pages completely responsive.

### Can you give some suggestions?

Making the pages responsive will make the website easier to be used on any device.
Assign me this issue under LGM SOC'21.

If there are multiple solutions, please present each one separately.

Save comparisons for the very end.

[2021-06-10 07:31] priyaastha commented on #286
/assign

[2021-06-10 08:50] Itashamodi commented on #158
assign it to me

[2021-06-10 18:46] vimalprogrammer opened #288 "Add donate button"
Add Razorpay donate button in the header...

I would to like work on this issue under LGMSOC, please assign me...

[2021-06-11 06:14] Sukriti-sood opened #289 "Add footer and Customize Navbar"

[2021-06-11 06:14] Sukriti-sood commented on #289
/assign

[2021-06-11 06:48] Sukriti-sood opened #291 "Responsiveness"
Need to Make following Pages Responsive:-
- jsonData.php
- dataSummary.php
- reg-form.php

[2021-06-11 06:48] Sukriti-sood commented on #291
/assign

[2021-06-11 07:41] riasenpai commented on #288
Admin will review this issue since I am not sure if there is a need of donate button.

[2021-06-11 08:42] siv2r commented on #26
@Astitva7717 Sure, go ahead!
Some of it has been implemented. So try the unimplemented ones or if you have any new ones.

[2021-06-11 08:56] #278 closed

[2021-06-11 08:56] #281 closed

[2021-06-11 09:01] siv2r commented on #288
@vimalprogrammer I am not sure if a donate button is required right now.
Can you elaborate on the idea? Can you show some examples that you plan to refer to?

[2021-06-11 09:03] siv2r commented on #286
@priyaastha Aren't those pages already responsive? Which problem did you notice? A screenshot of it will be helpful!

[2021-06-11 09:07] siv2r commented on #284
@PranavChauhan22 Do you plan on adding the details of mentors to the website? I don't think that will be necessary since they are mentoring this under the LGM-SOC program, and doctors will use this website. So it would of no use for the doctors to contact these mentors.

[2021-06-11 09:08] siv2r commented on #283
@starrohan999
#280 has been merged now, which changes the overview section. Do consider it while you make your changes.

[2021-06-11 09:12] starrohan999 commented on #283
I think all things are solved in that Pr. and line-height is also good.

Please close the issue
I will look upto new issues and bug

[2021-06-11 09:12] siv2r opened #292 "No need to add `Assigned` label to the issue after autoassign"
What happens?
the label `assigned` is added to the issue when contributors comment `/assign` in the issue

What were you expecting to happen?
No need to add an `assigned` label to the issue. Just assigning the participants will do.

[2021-06-11 11:54] vimalprogrammer commented on #288
Yeah! you know someone who does not afford to give a kidney, but they likely thought to help us. So it is a better way to raise some fundraising and help the needed one's. But it's not fully responsible.
<h2>References below</h2>

![39322_Importance20of20a20Great20Donate20Button20banner20blog20header-7](https://user-images.githubusercontent.com/76787061/121681974-18ef9300-cad9-11eb-864a-8d3c204df5

[2021-06-11 12:09] Sukriti-sood commented on #292
/assign

[2021-06-11 15:48] jwalapc commented on #6
I had made some changes will this work because if we want to change the color of the radio-buttons only we need to add more elements and css.
![image](https://user-images.githubusercontent.com/59509045/121713513-94157100-cafa-11eb-9464-c8d15265b643.png)

[2021-06-11 17:26] kumarshobhit commented on #29
I would like to work on this issue

[2021-06-11 17:27] kumarshobhit commented on #29
I am a LGM-SOC participant

[2021-06-12 04:33] siv2r commented on #29
@kumarshobhit sure! Go ahead.
You can ask your doubts in the community fiscord server (mentioned in Readme).

[2021-06-12 04:51] #292 closed

[2021-06-12 05:04] siv2r commented on #288
@vimalprogrammer I don't think it is required right now since this will clutter the nav bar. However, I will keep this issue open since we may need this in the future.

[2021-06-12 05:06] siv2r commented on #283
@starrohan999 Sure!

[2021-06-12 05:06] #283 closed

[2021-06-12 07:11] Sukriti-sood commented on #55
/assign

[2021-06-12 07:34] siv2r commented on #55
@Sukriti-sood I tried implementing this here: https://github.com/siv2r/kidney-exchange/blob/master/.github/workflows/autoblack.yml
But, it did not work as expected.

[2021-06-12 07:41] Sukriti-sood commented on #55
@siv2r  I found [this](https://github.com/marketplace/actions/black-code-formatter) will try to implement this

[2021-06-12 07:51] #279 closed

[2021-06-12 07:52] Sukriti-sood commented on #55
@siv2r  ,I think [black-action](https://github.com/lgeiger/black-action)  uses different workflows for push and pull request that may be the reason.

[2021-06-12 07:58] siv2r commented on #55
Might be. You can use a new approach if mine was wrong.

[2021-06-12 11:11] vimalprogrammer commented on #288
yeah! that's completely fine...👍

[2021-06-12 13:21] kumarshobhit commented on #29
sure :)

[2021-06-12 17:07] siv2r opened #296 "Additonal details other than Image the `graph.png` for global match"
### Can you please describe the problem to be solved?
The global match displays the image created in the `results` folder (i.e, graph.png). But the result folder also created additional files containing information like **Number of cycles found, longest chain, etc**. It would be great if these details are also shown on the webpage.

### Can you give some suggestions?

To be updated soon :)

[2021-06-12 17:09] siv2r opened #297 "Create FAQ document"
### Can you please describe the problem to be solved?
Create FAQs document in the `docs` folder which contains the problems that new contributors face.

### Can you give some suggestions?

There many discussions on the discord server. You can create questions and answers from it.

If there are multiple solutions, please present each one separately.

Save comparisons for the very end.

[2021-06-12 18:31] #6 closed

[2021-06-12 19:37] #286 closed

[2021-06-12 20:08] nisha331 opened #298 "Adding CODE_OF_CONDUCT"
The project does not have code of conduct file so I would like to add it. I am a LGMSOC'21 participant kindly assign it to me.

[2021-06-12 20:48] japmeet01 commented on #297
I would like to work on this issue. Kindly assign it to me.

[2021-06-13 02:42] siv2r commented on #286
@priyaastha, feel free to ask for doubts on the discord server! The community is pretty active :)

[2021-06-13 02:47] siv2r commented on #298
@nisha331 Sure, go ahead!
Feel free to ask for doubts on the discord community server.

[2021-06-13 03:54] Shaishav0507 opened #299 "Want to add Contribution Guidelines in Readme File"
Hey @siv2r
I would like to add contribution guidelines to the readme file.
Please assign it to me.
Thanks.

### Can you give some suggestions?

If there are multiple solutions, please present each one separately.

Save comparisons for the very end.

[2021-06-13 06:55] siv2r commented on #299
@Shaishav0507 Sure, go ahead!

There is already an implementation of this here: https://github.com/siv2r/kidney-exchange/blob/master/docs/CONTRIBUTING.md#general-guidelines.

You can try to improve upon it or create a new doc dedicated to only guidelines. Note: If you plan to create a new doc, make sure that you include all the information provided in the above doc.

[2021-06-13 06:56] siv2r commented on #299
Also, feel free to ask for doubts in the community discord server :)

[2021-06-13 06:57] Shaishav0507 commented on #299
Sure

[2021-06-13 09:51] rishabhrathore055 commented on #158
/assign

[2021-06-13 11:53] devanshi-code commented on #297
@siv2r  @riasenpai Can I work on this issue?

[2021-06-13 12:58] siv2r commented on #297
@devanshi-code Sure, go ahead!
There some good conversation regarding the project in #general, #contributors channel in the discord server. You can refer to that to create this doc.

Also, make the questions only project-specific, i.e., don't include questions related to git, GitHub, etc.

[2021-06-13 12:59] siv2r commented on #297
Feel free to ask for doubts/help in the discord server :)

[2021-06-15 02:31] Sukriti-sood commented on #296
/assign

[2021-06-15 03:03] Sukriti-sood commented on #45
@siv2r  Is this issue Resolved..............?

[2021-06-15 03:06] siv2r commented on #45
@Sukriti-sood I don't think so, since #35 is not solved yet and this is the result of that bug.

[2021-06-15 13:24] jugeshraghav opened #304 "About Page can be added."

[2021-06-15 13:24] jugeshraghav commented on #304
/assign

[2021-06-15 13:24] jugeshraghav commented on #304
please assign this issue to me @siv2r

[2021-06-15 13:27] jugeshraghav opened #305 "Add a new page named How it Works."
### Can you please describe the problem to be solved?
For new users it will be easy for them if they find such a page which helps them to understand how to donate or  request for the organ.

### Can you give some suggestions?

If there are multiple solutions, please present each one separately.

Save comparisons for the very end.

[2021-06-15 13:28] jugeshraghav commented on #305
Please assign this issue to me.

[2021-06-15 13:37] siv2r commented on #304
You are already assigned.

What to plan to add in the about page? Will it be included in the website? Or is it a technical documentation?

[2021-06-15 15:56] jugeshraghav commented on #304
Yes I was thinking to add an about page which will include the details of the kidney exchange program mission . And some other brief details about the past accomplishments.
If you could suggest me some points to include in the about page. @siv2r

[2021-06-15 15:57] jugeshraghav commented on #304
If  the issue is assigned to me then why is there no label ??

[2021-06-15 15:57] jugeshraghav commented on #305
/assign

[2021-06-15 15:58] jugeshraghav commented on #305
This page will give details of how a person can donate or request for the organ in detail.

[2021-06-15 15:58] tanya070820 opened #306 "UI changes in the sign up page"
### Can you give some suggestions?

If there are multiple solutions, please present each one separately.

Save comparisons for the very end.

[2021-06-15 16:35] siv2r commented on #304
Check the assignee's section. The label section is for `LGMSOC21`, `Level1`
etc. I am sure this issue is assigned to you.

On Tue, 15 Jun 2021, 9:27 pm jugesh raghav, ***@***.***>
wrote:

[2021-06-15 18:07] supzi-del opened #307 "Wrap homepage content in a box and add transition"
### Can you please describe the problem to be solved?

The description of the project on the homepage looks blended into the background.

### Can you give some suggestions?

This can be solved by adding an opaque background and add some scale transition for some depth.

Like these changes below
https://user-images.githubusercontent.com/78655439/122101892-76197a80-ce32-11eb-9006-1b9d149913ff.mp4

I

[2021-06-16 03:49] siv2r commented on #306
@tanya070820 Sure, go ahead!
What changes are you planning? Also, make sure it aligns with the theme of the website (red-black, blue-black colors, etc)
Fee free to ask for help/doubts in the discord group

[2021-06-16 03:53] siv2r commented on #304
@jugeshraghav This about page would be better if it was a document on this repo instead of a new page on the website.  Adding additional pages will clutter the navbar. Also, the homepage of the website gives a brief overview of the project, which will suffice.

[2021-06-16 03:57] jugeshraghav commented on #304
Okay then I will make it as a document .

On Wed, Jun 16, 2021, 09:24 Sivaram D ***@***.***> wrote:

[2021-06-16 03:59] siv2r commented on #305
Same suggestions as this: https://github.com/siv2r/kidney-exchange/issues/304#issuecomment-862017225l
Additionally, you could include detailed explanations of this website's different features, which is required.
I feel explanations about organ requests don't suit this context since this website is for doctors and not for the patients.

[2021-06-16 04:00] siv2r commented on #305
Feel free to ask for doubts/help in the discord server :)

[2021-06-16 04:01] siv2r commented on #304
Awesome! Feel free to ask for doubts/help in the discord server

[2021-06-16 04:04] siv2r commented on #307
@supzi-del This looks interesting!
Also, you are talking about the new homepage, right? The homepage of deployed version (shown in the video) is old.

[2021-06-16 04:22] supzi-del commented on #307
Can you send me a link to the new version?

[2021-06-16 04:23] supzi-del commented on #307
Also I'm working on it under LGM SOC

[2021-06-16 04:28] siv2r commented on #307
Unfortunately, there is no deployed version of the new release. If you are working on the frontend alone, you can clone this repo and run it using docker in your local machine to see the current version.

[2021-06-16 04:31] siv2r commented on #307
The steps for this is mention in Method 2 of the [build documentation](./docs/build.md).

[2021-06-16 06:43] #298 closed

[2021-06-16 06:57] siv2r opened #308 "`all-contributor` method to recognize contributors"
### Can you please describe the problem to be solved?
Better contributor recognition in the README

### Can you give some suggestions?

Follow the [all-contributors](https://github.com/all-contributors/all-contributors) method to recognize contributors
This is already implemented in the p5.js project using this [method](https://github.com/processing/p5.js/issues/2309). You can follow the same thin

[2021-06-16 07:04] #299 closed

[2021-06-16 19:50] ishitakapoor26 opened #310 "Add Program Section in readme.md"
Add Program Section which will represent that this project is a part of LGM-SOC'21

[2021-06-16 19:51] ishitakapoor26 commented on #310
@siv2r pls assign this issue to me.

[2021-06-16 19:51] ishitakapoor26 opened #311 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 19:52] ishitakapoor26 commented on #311
@siv2r

[2021-06-16 21:13] supzi-del commented on #307
Ok so where should I change the code(which file)?

[2021-06-17 07:38] ishitakapoor26 commented on #311
Like this
![score card](https://user-images.githubusercontent.com/78542333/122352859-1e335e80-cf6d-11eb-96cf-9a3fed92dd1b.PNG)

[2021-06-17 09:23] jayant766 commented on #308
please assign it to me under LGM-SOC'21

[2021-06-17 09:24] jayant766 commented on #310
please assign it to me under LGM-SOC'21

[2021-06-17 10:35] tjanhvi opened #312 "Want to add a logo"
Want to add a logo for the heading "kidney exchange"

[2021-06-17 10:39] tjanhvi opened #313 "Add a copyright design"
Please assign me this issue

[2021-06-17 10:39] tjanhvi commented on #312
okay :)
please assign me this issue

[2021-06-17 15:14] siv2r commented on #308
Assigned!
@jayant766, feel free to ask for doubts/help in the discord server.

[2021-06-17 15:15] siv2r commented on #307
Index.php, in the root folder

[2021-06-17 17:31] Umesh-01 opened #314 "add more badges to README.md file"
### Can you please describe the problem to be solved?

add more badges to the top of readme.md file, since the badges will be colorful and more attractive at the top of README.md file than the text the users will like it and it will also help them to navigate to different sections/ webpages like PRs, issues, contributors, etc.

### Can you give some suggestions?
I will add some more badges so that

[2021-06-17 17:31] Umesh-01 commented on #314
@siv2r Should I do these changes sir??

[2021-06-17 18:35] supzi-del commented on #307
I'm not able to view the new page..

[2021-06-18 04:14] siv2r commented on #314
Sure, go ahead! Also, no need to call me sir.

On Thu, 17 Jun 2021, 11:02 pm Umesh Singh, ***@***.***> wrote:

[2021-06-18 04:16] siv2r commented on #307
Can you tell me the exact error that you are getting? Or the problem that
you face?

On Fri, 18 Jun 2021, 12:05 am Supritha, ***@***.***> wrote:

[2021-06-18 04:25] supzi-del commented on #307
![image](https://user-images.githubusercontent.com/78655439/122506062-2fd33f80-d01b-11eb-8c64-c284730d53e3.png)
Actually, I'm not able to get started with docker so...

[2021-06-18 05:30] riasenpai commented on #312
ok where would the logo be?

[2021-06-18 05:31] riasenpai commented on #311
I am not sure that a score card is necessary in readme.md. @siv2r will let you know about this.

[2021-06-18 05:32] riasenpai commented on #310
@siv2r what do you think about this issue?

[2021-06-18 05:36] Sukriti-sood opened #317 "database connection"
## Problem
While connectiing to the database wveryone running the project locally need to change username and password and accidently most of the contributors push code with their credentials .

## Solution

We can have a sample.env which include username and password field and every time when user runs the projects locally will create .env files and copy the data from sample.env and respective va

[2021-06-18 05:38] Sukriti-sood commented on #317
/assign

[2021-06-18 05:58] siv2r commented on #311
@ishitakapoor26 This is not required.

[2021-06-18 06:02] siv2r commented on #310
@riasenpai @ishitakapoor26 This is not necessary.

[2021-06-18 06:04] siv2r commented on #312
@tj

[2021-06-18 06:10] siv2r commented on #317
@Sukriti-sood This issue is very interesting!

[2021-06-18 07:15] tjanhvi commented on #312
I made some samples....

[2021-06-18 11:18] Umesh-01 commented on #314
@siv2r @riasenpai pls assign some labels for **LGMSOC** and check the PR, merge if everything is fine 🙂

[2021-06-18 13:23] #291 closed

[2021-06-18 13:29] siv2r commented on #313
@tjanhvi What exactly do you mean by copyright design? Can you elaborate your idea?

[2021-06-18 13:37] #55 closed

[2021-06-18 13:43] #314 closed

[2021-06-18 13:45] #317 closed

[2021-06-18 13:53] tjanhvi commented on #313
This one is just an example and I will make this called a copyright design that I will place at the bottom of the website.
![image](https://user-images.githubusercontent.com/78703730/122571674-992e6f00-d06a-11eb-9da9-409ab0d949ed.png)

[2021-06-18 13:54] tjanhvi commented on #313
I will do for this website then I will send you.

[2021-06-19 08:21] riasenpai commented on #310
@ishitakapoor26 you can work on some other issue!

[2021-06-19 08:21] #310 closed

[2021-06-19 08:21] riasenpai commented on #311
@ishitakapoor26 you can work on some other issue!

[2021-06-19 08:21] #311 closed

[2021-06-21 09:43] Swarga-codes opened #320 "Modifying the CSS of login and register page."
### Can you please describe the problem to be solved?
I would like to modify the CSS of the login page and register page or you can say redesign the form for a better Login & register UI.

### Can you give some suggestions?

If there are multiple solutions, please present each one separately.

Save comparisons for the very end.

[2021-06-21 11:11] siv2r commented on #320
@Swarga-codes Sure! Please go ahead!
Also, make sure that the color fits with the overall theme of the website. Ideally, the color combo used of red-black, blue-black. You can also explore other variants.
Feel free to ask for help/doubts in the discord group

[2021-06-21 12:36] bharth-stack opened #321 "theme changer"
### Can you please describe the problem to be solved?
here i want to add a button that will change the background theme.

[2021-06-21 12:36] bharth-stack commented on #321
please assign this to me.

[2021-06-21 12:43] siv2r commented on #321
@bharth-stack This feature is not necessary for this project.

[2021-06-21 12:44] siv2r commented on #321
It would be better if we can provide more feature regarding the matching algorithm used instead of UI features

[2021-06-21 15:10] Swarga-codes commented on #320
I have a small doubt like I used to view the website throught the html files using live server in VScode now , how should I view the website using the php file any extension which I should download in my VSCode (Ps: I can see the source code but I cannot view the website using the live server(Go Live) in Vscode. Please help!

[2021-06-22 19:13] #321 closed

[2021-06-22 19:14] siv2r commented on #313
@tjanhvi Sure!

[2021-06-23 04:59] harshita9621 commented on #305
Can I work on this issue?

[2021-06-23 05:30] siv2r commented on #305
@harshita9621 Sure! Go ahead. Feel free to ask for doubts/help in the discord server.

[2021-06-23 06:08] #29 closed

[2021-06-23 12:02] ayushseth07 opened #324 "Add show password option to login signup page"
In the login and signup page inside the password field we can add and eye icon which when clicked shows the password

### Can you give some suggestions?

If there are multiple solutions, please present each one separately.

Save comparisons for the very end.

[2021-06-23 12:02] ayushseth07 commented on #324
Can i work on this issue?

[2021-06-23 12:25] siv2r commented on #324
@ayushseth07 Sure, go ahead!
There is already a checkbox outside to make the password visible. Instead of that, you can implement your idea.

Feel free to ask for doubts/help in your discord server.

[2021-06-23 15:55] #320 closed

[2021-06-24 18:51] jugeshraghav commented on #305
Actually i had semester exams so i could not work on the issue. Can i continue to work on it. @siv2r

[2021-06-24 18:52] jugeshraghav commented on #304
Actually i had exams, so ic ould not work on this issue. Can i still work on it. @siv2r

[2021-06-24 18:52] siv2r commented on #305
@jugeshraghav Sure! It would be great if both of you could collaborate.

[2021-06-25 06:41] siv2r commented on #304
@jugeshraghav Sure! There is no time constraint :)

[2021-06-30 04:43] #324 closed

[2021-06-30 11:29] nitishapiplani opened #328 "Mobile responsive"
Make page responsive for mobile so that user can use it on mobile
![Screenshot_2021-06-30-17-00-12-91_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/83905949/123953593-03c5a000-d9c5-11eb-9858-628f800c975f.jpg)

[2021-06-30 11:42] siv2r commented on #328
@nitishapiplani The deployed version of the website is not updated yet.

This issue for the homepage is fixed. You can clone the repo and run it in your local machine to observe the change. Also, feel free to open new issues if you find any.

[2021-06-30 11:44] nitishapiplani commented on #328
okk sure

[2021-07-03 07:46] riasenpai commented on #313
@tjanhvi any updates?

[2021-07-04 05:06] siv2r commented on #308
More info here: https://github.com/processing/p5.js?files=1#contributors

[2021-07-04 15:10] MennaEwas commented on #141
I want to work on this issue

[2021-07-04 15:43] siv2r opened #329 "Create a bot to add contributors to the readme"
### Can you please describe the problem to be solved?
This project follows the `all-contributors` specifications for recognizing contributors. It would be great if there is a bot to add new people to the contributor's list in the readme.

### Can you give some suggestions?

This has already been implemented in the p5.js project. You can simply use their code instead of creating the bot from scratc

[2021-07-05 03:23] Sukriti-sood commented on #308
/assign

[2021-07-05 03:30] Sukriti-sood commented on #329
@siv2r Is it not same as #308

[2021-07-05 06:27] riasenpai commented on #329
adding the contributors to the readme using a bot is similar to the issue you mentioned. I did find a bot https://allcontributors.org/ . Maybe this will help.

[2021-07-05 07:55] siv2r commented on #329
It is not the same. Ideally, a contributor has to open a PR (adding their info to .allconributors file) for adding them to the readme file. In this, we will make a bot to create a PR if a contributor opens an issue or comments with the text: `@all-contributors please add @YOUR-USERNAME for THING(S)`

[2021-07-05 07:59] siv2r commented on #308
@Sukriti-sood the pr #325 has done some progress regarding this issue. The implementation with incorrect since they hard-coded all the contributor's names to the readme file instead of creating a separate file like [this](https://github.com/processing/p5.js/blob/main/.all-contributorsrc). Creating a separate file will make the addition of new contributors to this project easier.

[2021-07-08 10:04] 889-dj commented on #297
hi can i work on this

[2021-07-08 10:30] siv2r commented on #297
@889-dj Sure, Go ahead!
Feel free to ask for doubts/help in our discord server (link in the readme)

[2021-07-08 12:31] 889-dj commented on #297
sure thanks :-D

[2021-07-10 03:55] 889-dj commented on #297
merged a pr https://github.com/siv2r/kidney-exchange/pull/330

[2021-07-10 06:38] siv2r commented on #307
@supzi-del Sorry for the late reply. I didn't keep track of our conversation. Are you still interested in working on this issue?

You need to use `docker-compose` to run it. Also, do ask for doubts/help in the discord server (link in readme). You will get a reply over there immediately.

[2021-07-11 15:44] swathi-469 opened #331 "CONTRIBUTION GUIDELINES"
I would like to add a contribution guidelines for the beginners in Open source

[2021-07-11 16:41] siv2r commented on #331
@swathi-469 Sure! There is already a document (in the README) for the first-time opensource contributors. You can improve it :)
Also, feel free to ask for help/doubts in our discord server (link in README)

[2021-07-11 16:50] swathi-469 commented on #308
can I work on it and make a separate file and beginner-friendly along with images

[2021-07-11 16:55] swathi-469 commented on #331
yeah mam but a lot of things are going around README, so I would like to make a separate file for guidelines

[2021-07-13 16:53] #308 closed

[2021-07-13 17:10] Sukriti-sood commented on #329
@all-contributors please add @siv2r  for code

[2021-07-13 17:14] Sukriti-sood commented on #329
@all-contributors please add @siv2r  for  documentation

[2021-07-13 17:15] Sukriti-sood commented on #329
@all-contributors please add @siv2r for maintenance

[2021-07-13 17:18] Sukriti-sood commented on #329
@all-contributors please add @arpit456jain r for code
@all-contributors please add @arpit456jain  for documentation

[2021-07-13 17:19] Sukriti-sood commented on #329
@all-contributors please add @arpit456jain for code and doc

[2021-07-13 17:21] Sukriti-sood commented on #329
@all-contributors please add @madihamallick  for doc and code

[2021-07-13 17:23] Sukriti-sood commented on #329
@all-contributors please add @Spurthi7768  for doc and code

[2021-07-13 17:25] Sukriti-sood commented on #329
@all-contributors please add @darpankhanna for doc

[2021-07-13 17:27] Sukriti-sood commented on #329
@all-contributors please add @subhangi2731  for doc

[2021-07-13 17:28] Sukriti-sood commented on #329
@all-contributors please add @96RadhikaJadhav  for code

[2021-07-13 17:29] Sukriti-sood commented on #329
@all-contributors please add @khareyash05  for doc

[2021-07-13 17:30] Sukriti-sood commented on #329
@all-contributors please add @thalesagapito  for code

[2021-07-13 17:32] Sukriti-sood commented on #329
@all-contributors please add @rohan-kulkarni-25  for doc

[2021-07-13 17:34] Sukriti-sood commented on #329
@all-contributors please add @AshuKV  for doc and code

[2021-07-13 17:35] Sukriti-sood commented on #329
@all-contributors please add @Shania99  for  code

[2021-07-14 02:48] Sukriti-sood commented on #329
@all-contributors please add @arpit456jain for code and doc

[2021-07-14 03:28] rohan-kulkarni-25 commented on #329
You can use my repository in that it will fetch all Contributors automatically in seperate page !

[2021-07-14 13:43] Sukriti-sood commented on #329
@all-contributors please add @Itashamodi  for doc

[2021-07-14 13:44] Sukriti-sood commented on #329
@all-contributors please add @kanchi12P  for  doc

[2021-07-14 13:44] Sukriti-sood commented on #329
@all-contributors please add @jwalapc  for code

[2021-07-14 13:45] Sukriti-sood commented on #329
@all-contributors please add @aditi1403 for doc

[2021-07-14 13:46] Sukriti-sood commented on #329
@all-contributors please add @hardikvarshney  for doc and design

[2021-07-14 13:47] Sukriti-sood commented on #329
@all-contributors please add @Swarga-codes  for code

[2021-07-14 13:48] Sukriti-sood commented on #329
@all-contributors please add @Subhangini  for doc

[2021-07-14 13:48] Sukriti-sood commented on #329
@all-contributors please add @Shaishav0507  for  doc

[2021-07-14 13:49] Sukriti-sood commented on #329
@all-contributors please add @Hjaelp for code

[2021-07-14 13:50] Sukriti-sood commented on #329
@all-contributors please add @devanshi-code  for doc

[2021-07-14 13:50] Sukriti-sood commented on #329
@all-contributors please add @nisha331  for doc

[2021-07-14 13:51] Sukriti-sood commented on #329
@all-contributors please add @889-dj  for doc

[2021-07-14 13:51] Sukriti-sood commented on #329
@all-contributors please add @kumarshobhit  for code

[2021-07-14 13:52] Sukriti-sood commented on #329
@all-contributors please add @Umesh-01  for doc

[2021-07-14 13:52] Sukriti-sood commented on #329
@all-contributors please add @nitinshukla413  for code

[2021-07-14 13:53] Sukriti-sood commented on #329
@all-contributors please add @nityaak5  for doc

[2021-07-14 13:54] Sukriti-sood commented on #329
@all-contributors please add @ayushseth07 for code

[2021-07-14 13:54] Sukriti-sood commented on #329
@all-contributors please add @M2kishore  for doc

[2021-07-14 13:55] Sukriti-sood commented on #329
@all-contributors please add @6D-pixel  for code

[2021-07-14 13:55] Sukriti-sood commented on #329
@all-contributors please add @nandini040  for doc

[2021-07-14 18:35] devanshi-code opened #367 "Add devanshi-code for documentation"
@all-contributors please add @devanshi-code for doc

[2021-07-14 18:41] siv2r commented on #367
@all-contributors please add @devanshi-code for doc

[2021-07-15 04:47] #367 closed

[2021-07-15 04:49] Sukriti-sood commented on #329
@all-contributors please add @Shania99 for code

[2021-07-15 04:51] Sukriti-sood commented on #329
@all-contributors please add @Shania99 for code

[2021-07-15 04:58] Sukriti-sood commented on #329
@all-contributors add @Itashamodi as a contributor for doc

[2021-07-15 04:59] Sukriti-sood commented on #329
@all-contributors add @kanchi12P as a contributor for doc

[2021-07-15 05:00] Sukriti-sood commented on #329
@all-contributors add @jwalapc as a contributor for code

[2021-07-15 05:01] Sukriti-sood commented on #329
@all-contributors add @aditi1403 as a contributor for doc

[2021-07-15 05:02] Sukriti-sood commented on #329
@all-contributors add @hardikvarshney as a contributor for doc, design

[2021-07-15 05:03] Sukriti-sood commented on #329
@allcontributors add @Swarga-codes as a contributor for code

[2021-07-15 05:04] Sukriti-sood commented on #329
@allcontributors add @Subhangini as a contributor for doc

[2021-07-15 05:05] Sukriti-sood commented on #329
@allcontributors add @Shaishav0507 as a contributor for doc

[2021-07-15 05:06] Sukriti-sood commented on #329
@allcontributors add @Hjaelp as a contributor for code

[2021-07-15 05:08] Sukriti-sood commented on #329
@allcontributors add @devanshi-code as a contributor for doc

[2021-07-15 05:09] Sukriti-sood commented on #329
@allcontributors add @nisha331 as a contributor for doc

[2021-07-15 05:10] Sukriti-sood commented on #329
@allcontributors add @889-dj as a contributor for doc

[2021-07-15 05:11] Sukriti-sood commented on #329
@allcontributors add @kumarshobhit as a contributor for code

[2021-07-15 05:12] Sukriti-sood commented on #329
@allcontributors add @Umesh-01 as a contributor for doc

[2021-07-15 05:13] Sukriti-sood commented on #329
@allcontributors add @nitinshukla413 as a contributor for code

[2021-07-15 05:19] Sukriti-sood commented on #329
@allcontributors add @nityaak5 as a contributor for doc

[2021-07-15 05:20] Sukriti-sood commented on #329
@allcontributors add ayushseth07 as a contributor for code

[2021-07-15 05:21] Sukriti-sood commented on #329
@allcontributors add M2kishore as a contributor for doc

[2021-07-15 05:22] Sukriti-sood commented on #329
@allcontributors add 6D-pixel as a contributor for code

[2021-07-15 05:23] Sukriti-sood commented on #329
@allcontributors add nandini040 as a contributor for doc

[2021-07-25 10:55] riasenpai commented on #328
@nitishapiplani any updates?

[2021-07-25 10:57] riasenpai commented on #312
@tjanhvi any updates about those samples?

[2021-07-25 10:57] riasenpai commented on #306
@tanya070820 any updates?

[2021-07-25 10:58] riasenpai commented on #305
@jugeshraghav @harshita9621 any updates?

[2021-07-25 10:58] nitishapiplani commented on #328
You said issue is resolved

[2021-07-25 11:00] #284 closed

[2021-07-25 11:01] riasenpai commented on #158
@siv2r  I dont think comment codes are still remaining that are very large. Do we still keep the issue open?

[2021-07-25 11:02] riasenpai commented on #141
@MennaEwas any updates?

[2021-07-25 11:03] riasenpai commented on #26
@Astitva7717 any updates?

[2021-07-25 13:48] siv2r commented on #158
Thanks for the heads-up!
@riasenpai I haven't checked the files. I will check them later and close this issue if needed.
If you have checked the files already, then you can close it.

[2021-07-25 14:16] MennaEwas commented on #141
Hey,
I am working on it.

mennatullha Abdelrahman,
Egypt-Japan University for Science and Technology,
Faculty of Engineering Student,

+201018639910
LinkedIn <https://www.linkedin.com/in/menna-abdurhman-0321bba8/>

On Sun, Jul 25, 2021 at 1:02 PM RIA TYAGI ***@***.***> wrote:

[2021-07-26 20:55] MennaEwas commented on #141
Whenever I choose Wikis I can't get it. I can't make any change but on my fork. No idea why.

[2021-07-26 21:23] MennaEwas commented on #141
I've updated some files and I am keeping working on it. I could only edit it on my fork and not here + could I talk with any of my mates who work on it? I need to share ideas with them. Thanks.

[2021-07-28 13:15] riasenpai commented on #331
@swathi-469 any updates??

[2021-07-28 13:16] riasenpai commented on #328
Ok cool closing this. Thanks!

[2021-07-28 13:16] #328 closed

[2021-07-28 13:18] #158 closed

[2021-07-28 14:04] swathi-469 commented on #331
yeah mam but a lot of things are going around README, so I would like to make a separate file for guidelines as part of LGM-SOC21 ... I have asked you about it that's why I am waiting mam

[2021-08-04 15:50] MennaEwas commented on #141
@siv2r  Please read the above comments

[2021-08-13 03:59] nandini040 commented on #312
I would like to work on this issue can you assign me this issue @riasenpai

[2021-08-13 10:14] siv2r commented on #312
@nandini040 Sure! Go ahead 👍

[2021-08-19 08:38] nandini040 commented on #312
![image](https://user-images.githubusercontent.com/68437129/130036733-cf49966d-9f13-4a6b-8d92-2224cd79c73a.png)

This is the logo sample is it fine? or i should make some changes? @siv2r

[2021-10-02 07:58] siv2r commented on #307
Closing the issue due to inactivity.
@supzi-del feel free to send a PR when you get the time :)

[2021-10-02 07:58] #307 closed

[2021-10-02 07:58] #306 closed

[2021-10-02 07:58] #305 closed

[2021-10-02 07:58] #304 closed

[2021-10-02 08:00] #312 closed

[2021-10-02 08:00] #313 closed

[2021-10-02 08:01] #288 closed

[2021-10-02 08:02] #331 closed

[2021-10-06 07:11] siv2r commented on #49
@soma2000-lang Done!! Feel free to ask your doubts on our discord server. (Link in reame)

[2022-02-27 19:14] Krishna841 commented on #93
Hello!!! I can change permissions to allow other users to write. Can you assign it to me?

[2022-02-27 22:23] siv2r opened #395 "Deploy the code on heroku"
### Can you please describe the problem to be solved?
The project is deployed on an IIT-M server ([https://ke.iitm.ac.in/kidney-exchange/](https://ke.iitm.ac.in/kidney-exchange/)). Therefore, we don't have permission to update it. Also, the currently deployed version is very old. There has been a number of changes made in terms of aesthetics and bug fixes that are not incorporated.

### Can you gi

[2022-02-28 08:37] aadityasinha-dotcom commented on #395
Can I work on this issue?

[2022-02-28 15:19] siv2r commented on #395
Sure, go ahead!

[2022-03-01 06:04] aroramrinaal commented on #395
Hey @siv2r , Could You Please Assign Me This **Issue**.

[2022-03-01 07:04] AlapanDas commented on #329
I can try implementing this feature, if it's not yet done by someone else
@siv2r Please assign this issue to me
@GSSOC 22'

[2022-03-01 07:38] AshutoshDash1999 opened #396 "Imporve UI"
- Want to add glassmorphic UI as text to background contrast is not good.

Can you please asign this issue to me?

[2022-03-01 08:27] Divyansh1315 opened #397 "Accurate Logo"
### Logo Upload
I would like to show you a logo that I've created for this project.

It displays the message that you want to send through your project.

[2022-03-01 12:06] tanya-gupta25 opened #399 "Improve UI of Login Page"
The UI of Login Page is very basic & it can be improved.

[2022-03-01 12:07] tanya-gupta25 commented on #399
I want to work on this issue under GSSOC

[2022-03-01 12:32] ykstech commented on #399
i would like to work on this issue under Gssoc

[2022-03-01 12:38] ykstech commented on #396
i would like to work on this issue under Gssoc ...

[2022-03-01 16:30] #396 closed

[2022-03-01 16:31] AshutoshDash1999 commented on #396
@ykstech i'm also a contributor but i don't want to work as the project in PHP and I couldn't understand it 😅
you can work on it by reopening :)

[2022-03-01 16:40] siv2r commented on #395
@aroramrinaal,
@aadityasinha-dotcom is already working on this issue. This is not a trivial issue so, both of you could collaborate to get it done.

[2022-03-01 16:41] siv2r commented on #329
@AlapanDas, sure go ahead!

[2022-03-01 17:27] Sukriti-sood commented on #329
@siv2r I think, thia issue feature is already implemented by me.... , it can be closed

[2022-03-01 20:14] techSun-07 opened #400 "Designing Logo"
Being a graphic designer and having experience of editor of two science and technology books can I design a logo of the webpage.

Please Assign me an Issue

[2022-03-01 21:32] siv2r commented on #329
Closing this issue since this feature was already implemented

[2022-03-01 21:32] #329 closed

[2022-03-02 08:24] inirah02 commented on #399
I'd like to work on this as a GSSOC Contributor

[2022-03-02 13:28] A1Kumari commented on #399
I would like to work on this issue under GSSOC

[2022-03-02 14:21] bhavyapathak20 commented on #399
I would like to work on this issue under Girlscript Summer of Code.

[2022-03-02 14:23] bhavyapathak20 commented on #399
@siv2r I would like to work on this issue under Girlscript Summer of Code.

[2022-03-02 17:24] ZeyadTarekk commented on #32
I wanted to work on this issue
I'm GSSoC'22

[2022-03-02 17:29] siv2r commented on #32
@ZeyadTarekk, sure, go ahead!

[2022-03-02 17:30] siv2r commented on #399
Sure, go ahead!

[2022-03-02 17:34] siv2r commented on #397
Sure, send a dm on discord.

[2022-03-02 17:34] siv2r commented on #400
Sure, go ahead!

[2022-03-02 17:53] Divyansh1315 commented on #397
Hey what's your Discord ID?

[2022-03-03 05:44] Charu2510 commented on #93
Can i work on this issue?

[2022-03-03 05:49] Charu2510 commented on #32
can i work on this issue under GSSoC'22?

[2022-03-03 05:54] Charu2510 commented on #141
Can i work on this issue under GSSoC'22?

[2022-03-03 17:09] yash120102 commented on #35
@siv2r I would like to work on this issue. Could you please assign it to me?

[2022-03-03 17:12] yash120102 commented on #45
@siv2r Please let me know if issue #35 is solved. I can see a PR in that. If that is resolved then can i take this issue?

[2022-03-03 19:09] siv2r commented on #45
@yash120102 #35 is not resolved. You can try working on that

[2022-03-04 01:55] yash120102 commented on #35
@siv2r can you assign this issue to me?

[2022-03-04 08:58] inirah02 commented on #32
I want to work on this issue
I'm GSSoC'22 Contributor

[2022-03-04 08:58] inirah02 commented on #35
I want to work on this issue
I'm GSSoC'22 Contributor

[2022-03-04 10:35] HarshKumarChoudary commented on #45
I'm GSSOC 22 contributor. If this issue is still available, please assign it to me. Also please add GSSOC22 label for that. Thanks

[2022-03-04 10:37] HarshKumarChoudary commented on #27
I'm GSSOC 22 contributor. If this issue is still available, please assign it to me. Also please add GSSOC22 label for that. Thanks

[2022-03-04 19:17] siv2r commented on #35
Hmm, the docker is not updated yet. Can you try without the docker?

[2022-03-05 09:44] Abhilasha-Jairath commented on #399
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 09:45] Abhilasha-Jairath commented on #289
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 11:45] ishmeet07 commented on #32
I want to work on this issue , as a gssoc contributor pls assign it to me! If it's still unresolved

[2022-03-06 10:43] Areebah03 opened #403 "Improve the home page"
I want to improve the UI design of homepage by changing fonts adding animation effect and changing background image.Please assign it to me.

[2022-03-06 10:45] Areebah03 opened #404 "Adding Footer"
I want to add a footer to website. Please assign me with it.

[2022-03-06 10:46] Areebah03 opened #405 "Customize navbar"
I want to improve the UI of navbar. Please assign it to me.

[2022-03-06 17:12] ajit1201 opened #406 "making navbar responsive"
What are the steps to reproduce this issue?
… making the navbar responsive so that it works well for all devices
… adding javascript code to make responsive navbar
…
What happens?
… navbar is not responsive it overflow for low dimension divices

What were you expecting to happen?
… when website is running on small dimension devices then there should a botton to expand navbar

Any logs, error outpu

[2022-03-07 01:30] siv2r commented on #32
@Charu2510 @inirah02 @ishmeet07, assigned the issue to you

[2022-03-07 02:12] inirah02 commented on #32
Thank you for your response

On Mon, 7 Mar, 2022, 7:00 am Sivaram, ***@***.***> wrote:

[2022-03-07 17:39] atharva0300 commented on #406
Hi @ajit1201 ,
I would like to work on this issue. I am a GSSoC'22 participant.
Can you assign it to me ?

[2022-03-07 18:08] ronitrangwani commented on #404
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-07 18:08] ronitrangwani commented on #405
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-07 18:09] ronitrangwani commented on #406
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-08 14:07] purohitmansi commented on #406
Hello @ajit1201!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-08 14:10] purohitmansi commented on #45
Hello @siv2r!

I am a GSSoC22 contributor. I would love to work on this issue and make PR as soon as I resolve the issue. Please do assign this to me.

ThankYou:)

[2022-03-10 14:56] nitishsaini706 commented on #395
@siv2r Hi , I would like to contribute in this , I already completed this task just need couple of minutes to push the pr as It's been 10 days now since you last assigned the task

[2022-03-10 18:15] SandeepShekhawat8778 commented on #403
can you assign this issue to me):

[2022-03-10 22:53] siv2r commented on #395
@nitishsaini706 sure, go ahead

[2022-03-11 12:14] Srushti-Naik commented on #404
Please assign this issue to me under GSSOC'22 . I would like to make the footer beautiful.

[2022-03-13 08:48] jagadeeshvr commented on #406
Hi @ajit1201
I'm Contributer in GSSoC22 ,I want to work work on this feature ,Can u assign this to me.

[2022-03-22 07:32] deepak759 commented on #405
I want to improve navbar area. I have good knowledge of this. can you get assigned to it.

[2022-04-04 04:27] Krishna841 commented on #93
Hiee, I have a few doubts regarding this, can you help me?

[2022-04-04 06:28] siv2r commented on #93
What do you want to know?

[2022-04-05 17:37] Krishna841 commented on #93
I ran the solutions and kidney exchange file but could not find the results folder. What to do?

[2022-04-12 10:48] Dharmesh177 opened #409 "MAKE NAVBAR LOGIN AND FOOTER RESPONSIVE"
### Can you please describe the problem to be solved?

### Can you give some suggestions?

If there are multiple solutions, please present each one separately.

Save comparisons for the very end.

[2022-04-12 16:47] itzwow opened #410 "Improving the login & signup page"
### Can you please describe the problem to be solved?

Improving the UI of the Login and Signup page .

### Can you give some suggestions?
- Add user and password icon
- adding border radius
- Making the UI more attractive

I am  GSSoC'22 participant and wanted to contribute to it. Kindly assign it to me

[2022-04-14 14:28] aditi1042003 commented on #405
i want to work over the navbar problem can it be assinged to me. a gssoc22 participant

[2022-04-29 15:25] aaryahjolia opened #411 "Add Favicon in website"
### Can you please describe the problem to be solved?

The website currently have default xampp image as favicon as shown in screenshot below. I would like to add a Favicon with the letter 'K' so it will look better on the website.

### Can you give some suggestions?

To make a Favicon and adding it the website by mean of link tag in html and attribute type favicon. This will make look the website

[2022-04-29 15:49] tasneemahmed123 commented on #404
I want to add a footer with html and css

[2022-05-09 23:10] tasneemahmed123 commented on #32
can you assign me this issue?

[2022-05-18 05:51] hariketsheth opened #413 "Add `Favicon` for Kidney Exchange"
### Can you please describe the problem to be solved?
- Website doesn't have the favicon implemented. And is using the current XAMPP Server Favicon by default
- Enhancing and fixing it, a new favicon for Kidney Exchange is added to all pages

[2022-05-19 12:13] #413 closed

[2022-07-09 09:09] bhushanpakhle12 commented on #411
I can help in adding a favicon. I know how to do it and we can customize it according to our requirements.